# OSX
.DS_Store

# IDE Stuff (This covers PHPStorm, IntelliJ IDEA, Aptana, and Eclipse)
.idea/
.idea-new
*.iml
.project
.settings
.jar
.ide_plugins/

# Git
*~HEAD

# Bower
bower_components
bower_components/

# Node.js
node_modules/
package-lock.json
npm-debug.log
yarn.lock
yarn-error.log

# Atom Sync
.remote-sync.json

# Reference files
etc/*

# Legacy Minifications
dist/**/*.min.js

# Package Minifications
packages/*/src/**/*.min.js
packages/*/src/**/*.min.css
packages/*/src/**/*.min.html
packages/*/src/**/*.css.map

# Package Compilations
packages/angular/src/**/*.js
packages/angular/src/**/*.js.map
packages/angular/src/**/*.css
packages/angularjs/src/**/*.js
packages/angularjs/src/**/*.js.map
packages/angularjs/src/**/*.css
packages/angularjs-extras/src/**/*.js.map
packages/angularjs-extras/src/**/*.css
packages/backend/src/**/*.js
packages/backend/src/**/*.js.map
packages/boot/dist/**/*.js
packages/boot/dist/**/*.js.map
packages/calendar/src/**/*.js
packages/calendar/src/**/*.js.map
packages/calendar/src/**/*.css
packages/core/src/**/*.js
packages/core/src/**/*.js.map
packages/idx/src/**/*.js
packages/idx/src/**/*.js.map
packages/idx/src/**/*.css
packages/map/src/**/*.js
packages/map/src/**/*.js.map
packages/map/src/**/*.css
packages/react/src/**/*.js
packages/react/src/**/*.js.map
packages/react/src/**/*.css
packages/runtime/src/**/*.js
packages/runtime/src/**/*.js.map
packages/stripe/src/**/*.js
packages/stripe/src/**/*.js.map
packages/stripe/src/**/*.css
packages/swiper/src/**/*.js
packages/swiper/src/**/*.js.map
packages/swiper/src/**/*.css

# TypeScript Supercedes
packages/angularjs-extras/src/directives/baseNew.js
packages/angularjs-extras/src/components/citation.js
packages/angularjs-extras/src/components/embed.js
packages/angularjs-extras/src/components/image-carousel.js
packages/angularjs-extras/src/components/twitterFeed.js
packages/angularjs-extras/src/directives/bindHtml.js
packages/angularjs-extras/src/directives/froala.js
packages/angularjs-extras/src/directives/fullHeight.js
packages/angularjs-extras/src/directives/jsonToObject.js
packages/angularjs-extras/src/directives/maxLength.js
packages/angularjs-extras/src/directives/parentClass.js
packages/angularjs-extras/src/directives/trigger.js
packages/angularjs-extras/src/filters/avatar.js
packages/angularjs-extras/src/filters/numeral.js
packages/angularjs-extras/src/filters/truncate.js

# JavaScript Supercedes
!packages/runtime/src/stratus.amd.js
