# OSX
.DS_Store

# IDE Stuff (This covers PHPStorm, IntelliJ IDEA, Aptana, and Eclipse)
.idea/
.idea-new
*.iml
.project
.settings
.jar
.ide_plugins/

# Git
*~HEAD

# Bower
bower_components
bower_components/

# Node.js
node_modules/
package-lock.json
npm-debug.log
yarn.lock
yarn-error.log

# Atom Sync
.remote-sync.json

# Legacy Minifications
dist/**/*.min.js

# Package Minifications
packages/*/src/**/*.min.js
packages/*/src/**/*.min.css
packages/*/src/**/*.min.html
packages/*/src/**/*.css.map

# Package Compilations
packages/angular/src/**/*.js
packages/angular/src/**/*.css
packages/angularjs/src/**/*.js
packages/angularjs/src/**/*.css
packages/angularjs-extras/src/**/*.css
packages/backend/src/**/*.js
packages/boot/dist/**/*.js
packages/core/src/**/*.js
packages/idx/src/**/*.js
packages/idx/src/**/*.css
packages/react/src/**/*.js
packages/react/src/**/*.css

# TypeScript Supercedes
packages/angularjs-extras/src/components/twitterFeed.js
