{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-descending-specificity": [
      false,
      {
        "ignore": [
          "selectors-within-list"
        ]
      }
    ],
    "rule-empty-line-before": [
      "never-multi-line",
      {
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "selector-type-no-unknown": [
      true,
      {
        "ignore": [
          "custom-elements"
        ]
      }
    ]
  }
}
