dist: xenial
os: linux
language: nodejs
services:
  - mongodb
  - mysql
  - redis
jobs:
  include:
    - language: node_js
      # EOL: 2021-04-30
      name: "NodeJS 10 LTS: Dubnium"
      node_js:
        - "10"
      cache:
        directories:
          - node_modules
    - language: node_js
      # EOL: 2022-04-30
      name: "NodeJS 12 LTS: Erbium"
      node_js:
        - "12"
      cache:
        directories:
          - node_modules

#    - language: node_js
#      # EOL: 2020-06-01
#      name: "NodeJS 13"
#      node_js:
#        - "13"
#      cache:
#        directories:
#          - node_modules

    - language: node_js
      # EOL: 2023-04-30
      name: "NodeJS 14: Fermium"
      node_js:
        - "14"
      cache:
        directories:
          - node_modules

#    - language: node_js
#      # EOL: 2021-06-01
#      name: "NodeJS 15"
#      node_js:
#        - "15"
#      cache:
#        directories:
#          - node_modules

#    - language: node_js
#      # EOL: 2024-04-30
#      name: "NodeJS 16: Gallium"
#      node_js:
#        - "16"
#      cache:
#        directories:
#          - node_modules

#    - language: node_js
#      # EOL: 2022-06-01
#      name: "NodeJS 17"
#      node_js:
#        - "17"
#      cache:
#        directories:
#          - node_modules

#    - language: node_js
#      # EOL: 2025-04-30
#      name: "NodeJS 18: Hydrogen"
#      node_js:
#        - "18"
#      cache:
#        directories:
#          - node_modules

#    - language: node_js
#      # EOL: 2023-06-01
#      name: "NodeJS 19"
#      node_js:
#        - "19"
#      cache:
#        directories:
#          - node_modules

#    - language: node_js
#      # EOL: 2026-04-30
#      name: "NodeJS 20: Iron"
#      node_js:
#        - "20"
#      cache:
#        directories:
#          - node_modules

#    - language: node_js
#      # EOL: Indeterminate
#      name: "NodeJS: LTS"
#      node_js:
#        - "lts/*"
#      cache:
#        directories:
#          - node_modules

#    - language: node_js
#      # EOL: Indeterminate
#      name: "NodeJS: Stable"
#      node_js:
#        - "node"
#      cache:
#        directories:
#          - node_modules

#      before_install:
#        - export CHROME_BIN=chromium-browser
#        - export DISPLAY=:99.0
#        - sh -e /etc/init.d/xvfb start
#      before_script:
#        - npm install
#      script: node_modules/karma/bin/karma start karma.conf.js --single-run
#addons:
#  firefox: latest
#  sauce_connect:
#    username: "Your Sauce Labs username"
#    access_key: "Your Sauce Labs access key"
#  apt:
#    sources:
#    - google-chrome
#    packages:
#    - google-chrome-stable
notifications:
  slack:
    on_success: change
    on_failure: always
    secure: e9elF90PguRRcOEq2wilUshGiP/K+ej9CMuI2Pz5SXMCaCrk14yW2Gk900b+tiIYIlY/LPKHDzErSGwbn4WL4HaSk7z5Nn4jL7dgnMftrVGFGM3IHPym9dGIRlC3uu3fWV6kE12CS+V28kTDW0UUPU1rD+MxXW5JYDiEdTxxO2utL4jxYFP/q6IECHTMVK9XLWbDCDFyz6HLLkhjGCxxtrtKa+BaGpvr+UqvioqLBBxIZAI1QJRshnZHX/544CyCBmMXuMYQtEzI1IuG19VrgiRMnvrBBuY+H0jM0kSbSTaM/DHlDOYdU+uX71RBxjuh66Cbqw7woUUSPgw+l9RWAIPngvmSip5T7PbOj6cEJoAt6xA4tnGOdBD5mm2WBdVbLBcMYTVZjAGs/UKCCBBxxKosbj1ZGxcqBb3RSOVONNmK5dbpkoqz1SzcC701w11jcAdC6mwuMUmXz4ZuojEJDkPUXJV115zsZ7DBhY1BCyiQT3DfnOjcjxgz1ZxYOdgXxMVtdcnhwmDKPJxW0cEpMoqD/XVY0Sc2Jy0HMJkUgzXwA6gCDL/bl2QG/gCeTJZutOYW6Br+VT8jb3baWk9gGtmnXWciwpozL52P6k3ULxrmPrZOygQfgit1pdktFe/e5mpB4DkYnA7boJ1xRdlIDgVpZey4Y8k61E7BuzJDF2I=
