//@import '~quill/dist/quill.core.css';
//@import '~quill/dist/quill.bubble.css';
//@import '~quill/dist/quill.snow.css';
.editor-component {
  // This overwrites the 100% width for Video Displays created in Angular-Editor.
  // It still looks terrible though due to placement and sizing.
  img[src$="youtube-play.png"] {
    width: 50%;
  }
  /* *
  img[data-stratus-src] {
    // This overwrites the width for anything with a lazy loader
    width: 100%;
  }
  /* */
  .angular-editor {
    background: #ffffff;
  }
  .ql-toolbar {
    background: #ffffff;
  }
  .ql-container {
    background: #ffffff;
    .ql-editor {
      // Nothing yet
    }
  }
  /* Reduce the spacing of the toolbar button groups to fit more */
  .fr-toolbar {
    .fr-btn-grp {
      margin: 0 0 0 5px;
    }
  }
}

// This fixes the sticky toolbar if nested in md-tabs
@mixin tab-transform-unset {
  md-tab-content {
    transform: unset;
  }
}
md-tabs {
  md-tabs-content-wrapper {
    @include tab-transform-unset;
  }
  @include tab-transform-unset;
}

// Quick Insert Button
div.fr-quick-insert.fr-visible {

}

// CodeMirror 6 CSS for Froala
// Note: This needs !important to override the built-in !important
.fr-box .ͼ1.cm-editor {
  display: none !important;
}
.fr-box.fr-code-view .ͼ1.cm-editor {
  display: flex !important;
}
