.tree {
  .tree {
    &-dialog {
      &-content {
        .radio {
          &-group {
            display: flex;
            flex-direction: column;
            margin: 15px 0;
          }
          &-button {
            margin: 5px;
          }
        }
      }
    }
  }
}
