/* Based on Angular Material 8+ */
sa-tree {
  .full {
    &-width {
      width: 100%;
    }
  }
  .tree {
    ul, li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }
    &-invisible {
      display: none;
    }
    &-node {
      display: block;
      .tree-node { // be explicit for child padding
        padding-left: 40px;
      }
      &-drag {
        &-preview {
          box-sizing: border-box;
          border-radius: 4px;
          padding: 10px;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          background-color: white;
        }
      }
      &-drop{
        &-list {
          min-height: 20px;
          border-style: dashed !important;
          border-radius: 4px !important;
        }
      }
    }
    &-dialog {
      &-content {
        .radio{
          &-group {
            display: flex;
            flex-direction: column;
            margin: 15px 0;
          }
          &-button {
            margin: 5px;
          }
        }
      }
    }
    &.cdk-drop-list{
      &-dragging {
        background: lightgreen !important;
      }
      &-receiving {
        background: lightyellow !important;
      }
    }
  }
}
