<div class="tree">
<!--    [cdkDropListConnectedTo]="dropLists"-->
    <cdk-tree cdkDropList
              [id]="uid + '_parent_drop_list'"
              [dataSource]="dataSub | async"
              [treeControl]="treeControl"
              [cdkDropListData]="node"
              [cdkDropListDisabled]="false"
              (cdkDropListDropped)="onDragDrop($event)"
              class="tree-node-drop-list">
        <!-- This is the tree node template for leaf nodes -->
        <cdk-nested-tree-node cdkDrag
                              [id]="uid + '_node_' + node.model.data.id"
                              *cdkTreeNodeDef="let node"
                              [cdkDragData]="node"
                              (mouseenter)="onDragHover(node)"
                              (mouseleave)="onDragHoverEnd()"
                              (cdkDragStarted)="onDragStart()"
                              (cdkDragReleased)="onDragEnd()"
                              class="tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>

            <!-- Display Clickable Name -->
            <span cdkDragHandle
                  [textContent]="node.model.data.name"
                  (click)="openDialog(node.model)"></span>

            <div *cdkDragPreview
                 [textContent]="node.model.data.name"
                 class="tree-node-drag-preview"></div>

<!--            [cdkDropListConnectedTo]="dropLists"-->
            <div cdkDropList
                 [id]="uid + '_node_' + node.model.data.id + '_drop_list'"
                 [cdkDropListData]="node"
                 [cdkDropListDisabled]="false"
                 (cdkDropListDropped)="onDragDrop($event)"
                 class="tree-node-drop-list"></div>

            <!-- Display Name & Dialogue Button -->
<!--        {{node.model.data.name}}&nbsp;-->
<!--        <button mat-raised-button (click)="openDialog(node.model)">-->
<!--            <i class="fas fa-pencil-alt"></i>-->
<!--        </button>-->

            <!-- This is just a test of the Quill Editor, since we have not made decorators to provide a data connection -->
<!--        <ng-container *ngIf="node.model.data.content && node.model.data.content.version">-->
<!--            <span [innerHTML]="node.model.data.content.version.text"></span>-->
<!--            <br />-->
<!--            <quill-editor>-->
<!--                <div class="ql-container ql-snow" style="border-width: 0;">-->
<!--                    <div class="ql-editor" [innerHTML]="node.model.data.content.version.text"></div>-->
<!--                </div>-->
<!--            </quill-editor>-->
<!--        </ng-container>-->

        </cdk-nested-tree-node>

        <!-- This is the tree node template for expandable nodes -->
        <cdk-nested-tree-node cdkDrag
                              [id]="uid + '_node_' + node.model.data.id"
                              *cdkTreeNodeDef="let node; when: hasChild"
                              [cdkDragData]="node"
                              (mouseenter)="onDragHover(node)"
                              (mouseleave)="onDragHoverEnd()"
                              (cdkDragStarted)="onDragStart()"
                              (cdkDragReleased)="onDragEnd()"
                              class="tree-node">
            <button cdkTreeNodeToggle
                    mat-icon-button
                    [attr.aria-label]="'toggle ' + node.model.data.name">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>

            <!-- Display Clickable Name -->
            <span cdkDragHandle
                  [textContent]="node.model.data.name"
                  (click)="openDialog(node.model)"></span>

            <div *cdkDragPreview
                 [textContent]="node.model.data.name"
                 class="tree-node-drag-preview"></div>

<!--            [cdkDropListConnectedTo]="dropLists"-->
<!--            <div cdkDropList-->
<!--                 [id]="uid + '_node_' + node.model.data.id + '_drop_list'"-->
<!--                 [cdkDropListData]="node"-->
<!--                 [cdkDropListDisabled]="false"-->
<!--                 (cdkDropListDropped)="onDragDrop($event)"-->
<!--                 class="tree-node-drop-list"></div>-->

            <!-- Display Name & Dialogue Button -->
<!--        {{node.model.data.name}}&nbsp;-->
<!--        <button mat-raised-button (click)="openDialog(node.model)">-->
<!--            <i class="fas fa-pencil-alt"></i>-->
<!--        </button>-->

            <!-- This is just a test of the Quill Editor, since we have not made decorators to provide a data connection -->
<!--        <ng-container *ngIf="node.model.data.content && node.model.data.content.version">-->
<!--            <span [innerHTML]="node.model.data.content.version.text"></span><br /> -->
<!--            <quill-editor>-->
<!--                <div class="ql-container ql-snow" style="border-width: 0;">-->
<!--                    <div class="ql-editor" [innerHTML]="node.model.data.content.version.text"></div>-->
<!--                </div>-->
<!--            </quill-editor>-->
<!--        </ng-container>-->

            <div [class.tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container cdkTreeNodeOutlet></ng-container>
            </div>
        </cdk-nested-tree-node>
    </cdk-tree>
</div>
