/* Based on Angular Material 8+ */
s2-tree .example-tree-invisible {
  display: none; }

s2-tree .example-tree ul, s2-tree .example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none; }

s2-tree .example-tree-node {
  display: block; }
  s2-tree .example-tree-node .example-tree-node {
    padding-left: 40px; }
