<h1 mat-dialog-title>Menu Link Editor</h1>
<div mat-dialog-content>
    <mat-form-field class="form-field">
        <input matInput type="text" placeholder="Name" [(ngModel)]="data.name" >
        <button mat-button *ngIf="data.name" matSuffix mat-icon-button aria-label="Clear" (click)="data.name=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <!-- Target Selector -->
    <h4><label id="radio-group-label">Link Type:</label></h4>
    <mat-radio-group class="radio-group"
            aria-labelledby="radio-group-label"
            [(ngModel)]="data.target">
        <mat-radio-button class="radio-button" value="content">
            Content
        </mat-radio-button>
        <mat-radio-button class="radio-button" value="url">
            URL
        </mat-radio-button>
    </mat-radio-group>

    <!-- Target Editor -->
    <form class="dialog-form" [formGroup]='dialogForm'>
        <ng-container *ngIf="data.target == 'content'">
            <mat-form-field class="form-field">
                <input matInput placeholder="Link Content" aria-label="Link Content" [matAutocomplete]="auto" formControlName='selectorInput'>
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOption">
                <mat-option *ngIf="isLoading" class="is-loading">
                    <mat-spinner diameter="50"></mat-spinner>
                </mat-option>
                <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let option of filteredOptions" [value]="option" [innerHTML]="option.version.title"></mat-option>
                </ng-container>
            </mat-autocomplete>
        </ng-container>
    </form>

    <mat-form-field class="form-field" *ngIf="data.target == 'url'">
        <input matInput type="text" placeholder="URL" [(ngModel)]="data.url">
        <button mat-button *ngIf="data.url" matSuffix mat-icon-button aria-label="Clear" (click)="data.url=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <!-- Target Display -->
    <h4>Linked To:</h4>

    <span *ngIf="data.target == 'content'" [textContent]="data.content && data.content.routing ? data.content.routing[0].url : 'Nothing yet!'"></span>
    <span *ngIf="data.target == 'url'" [textContent]="data.url || 'Nothing yet!'"></span>

    <!-- Priority Control - deprecated once we have DnD -->
    <h4>Priority:</h4>
    <mat-form-field class="form-field">
        <input matInput type="number" placeholder="Priority" [(ngModel)]="data.priority">
<!--        <button mat-button matSuffix mat-icon-button aria-label="Increase Priority"-->
<!--                (click)="data.priority = data.priority + 1">-->
<!--            <mat-icon>expand_less</mat-icon>-->
<!--        </button>-->
<!--        <button mat-button matSuffix mat-icon-button aria-label="Decrease Priority"-->
<!--                (click)="data.priority = data.priority - 1">-->
<!--            <mat-icon>expand_more</mat-icon>-->
<!--        </button>-->
    </mat-form-field>

    <h4>Actions:</h4>

    <button mat-button (click)="data.model.destroy(); onCancelClick()">Delete (Completely)</button>
    <button mat-button (click)="data.collection.add({name:'Untitled Child', parent: data.parent, nestParent: data.id},{save: true})">Add Child</button>

    <mat-divider></mat-divider>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
