/* Based on Angular Material 8+ */
.tree {
  .display {
    &-none {
      display: none;
    }
  }
  .full {
    &-width {
      width: 100%;
    }
  }
  ul, li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .tree {
    &-node {
      display: block;
      .tree-node { // be explicit for child padding
        padding-left: 40px;
      }
      &-drag {
        &-preview {
          box-sizing: border-box;
          border-radius: 4px;
          padding: 10px;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          background-color: white;
        }
      }
    }
  }
  .cdk-drop-list {
    &-dragging {
      min-height: 20px;
      border-style: dashed !important;
      border-radius: 4px !important;
      //background: lightgreen !important;
    }
    //&-receiving {
    //  min-height: 20px;
    //  border-style: dashed !important;
    //  border-radius: 4px !important;
    //  background: lightyellow !important;
    //}
  }
}
