/* Based on Angular Material 8+ */
sa-tree .tree-invisible {
  display: none; }

sa-tree .tree ul, sa-tree .tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none; }

sa-tree .tree-node {
  display: block; }
  sa-tree .tree-node .tree-node {
    padding-left: 40px; }

sa-tree .radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0; }

sa-tree .radio-button {
  margin: 5px; }

sa-tree .full-width {
  width: 100%; }
