{% if (typeof meta.contentTypes !== 'undefined' && meta.contentTypes.length) { %}
<h4 id="filter-content-type-title" class="custom-font-secondary small-label">Filter by Type</h4>

<div id="filter-content-type-container" class="background-dark">
  <ul id="filter-content-type" class="filter-content-type list-unstyled">
    {% _.each(_.first(meta.contentTypes, 6), function(contentType) { %}
    <li>
      <label>
        <input type="checkbox" name="qContentType[]" value="{{ contentType.value }}" checked class="form-control">{{
        contentType.prompt }}
      </label>
    </li>
    {% }); %}
  </ul>
  {% if (meta.contentTypes.length > 6) { %}
  <div id="filter-content-type-more-container">
    <div id="btn-filter-content-type-more">show more</div>
    <ul id="filter-content-type-more" class="filter-content-type list-unstyled">
      {% _.each(_.rest(meta.contentTypes, 5), function(contentType) { %}
      <li>
        <label>
          <input class="form-control" type="checkbox" name="qContentType[]" value="{{ contentType.value }}" checked>{{
          contentType.prompt }}
        </label>
      </li>
      {% }); %}
    </ul>
  </div>
  {% } %}
</div>
{% } %}