<div class="stratus_edit_view_container stratus_edit_media" ng-cloak ng-transclude="view"
     ng-class="{ liveEdit: liveEditStatus() }" ng-show="!edit" ng-click="setEdit(true)"
     ng-cloak>
  <img ng-repeat="image in value | limitTo : 1" stratus-src="{{ image.url }}" alt="{{ image.name }}">
</div>
<span class="stratus_edit_input_container stratus_edit_media" ng-cloak ng-show="edit" tabindex="-1" ng-cloak
      ng-transclude="input">
    <stratus-media-selector ng-cloak ng-model="value"></stratus-media-selector>
</span>