<div class="stratus_edit_view_container stratus_edit_editor" ng-cloak ng-transclude="view"
     ng-class="{ liveEdit: liveEditStatus() }" ng-show="!edit" ng-click="setEdit(true)"
     ng-cloak>
    <span class="prefix" ng-bind-html="prefix"></span>
    <span ng-bind-html="value"></span>
    <span class="suffix" ng-bind-html="suffix"></span>
</div>
<span class="stratus_edit_input_container stratus_edit_editor" ng-cloak ng-show="edit" tabindex="-1" ng-cloak ng-transclude="input" >
    <textarea stratus-froala froala-options="{{froalaOptions}}"  ng-model="value" ng-if="ctrl.initialized"></textarea>
</span>