<md-content class="theme-selector">
  <div class="selected-theme" layout="column">
    <h2>
      <span>
        <md-tooltip md-direction="top">Reprehenderit duis ad aliqua proident proident exercitation laborum consequat cupidatat.</md-tooltip>
        <md-icon md-font-icon="fa-question-circle" class="fa"></md-icon>
      </span> Theme
    </h2>

    <div class="description" layout="row">
      <div flex="20">
        <img src="http://lorempixel.com/300/400/food/" charset="utf-8"></img>
      </div>

      <div flex="50" flex-offset="5">
        <h3>Fantome</h3>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>

  <hr>

  <div class="list-theme" layout="column">
    <div layout="row">
      <div flex="20" class="menus">
        <div flex>
          <h2>Categories</h2>
          <ul>
            <li><a href="#" ng-click="$ctrl.showCategory(-1)">Sint ad</a></li>
            <li><a href="#" ng-click="$ctrl.showCategory(-1)">Occaecat</a></li>
            <li><a href="#" ng-click="$ctrl.showCategory(-1)">Deserunt</a></li>
            <li ng-repeat="category in $ctrl.categories">
              <a class="point" ng-click="$ctrl.showCategory($index)">{{category}}</a>
            </li>
          </ul>
        </div>
        <div flex>
          <h2>Sort By</h2>
          <ul>
            <li><a href="#" ng-click="$ctrl.sortBy('latest')" class="point">Latest</a></li>
            <li><a href="#" ng-click="$ctrl.sortBy('populate')" class="point">Populate</a></li>
            <li><a href="#" ng-click="$ctrl.sortBy('favorite')" class="point">Favorites(0)</a></li>
          </ul>
        </div>
      </div>

      <div flex class="templates">
        <div ng-repeat="target in $ctrl.currentThemes" class="template" layout="row">
          <div class="image" flex="45" ng-click="zoomView(target.data)">
            <img src="{{ target.data.images[0].url }}" alt="">
            <div class="overlay"><i class="fa fa-search" aria-hidden="true"></i></div>
          </div>

          <div class="content" flex="45">
            <div class="title">
              <h3>{{target.data.name}}</h3>
              <a href="#" ng-click="$ctrl.setFavorite(target.data.id)"><i ng-class="$ctrl.getFavoriteStatus(target.data.id)"></i></a>
            </div>
            <div class="description" ng-bind-html="themeRawDesc(target.data.description) | truncate:{limit:300}"></div>
            <md-button class="md-primary" id="btn-primary" ng-click="$ctrl.chooseTheme(target.data.id)">Choose Theme</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</md-content>


<script type="text/ng-template" id="themeDetail.html">
  <!-- Detail Page starts from here -->

  <div class="lt-popup theme-preview" role="dialog">
    <div class="ltpop-left">
      <h3>{{themeDetail.name}}
        <i aria-hidden="true" class="fa fa-heart-o"></i>
        <i aria-hidden="true" class="fa fa-heart"></i>
      </h3>
      <div class="name fontSecondary"
           ng-bind-html="themeRawDesc(themeDetail.data.description) | truncate:{limit:300}"></div>

      <a href="javascript:void(0)" ng-hide="model.exists(property, themeDetail.data.id)"
         ng-click="model.toggle(property, {'id': themeDetail.data.id,'name':themeDetail.name,'description':themeDetail.description,'images':themeDetail.images}, toggleOptions); updateDetails({'id': themeDetail.id,'name':themeDetail.name,'description':themeDetail.description,'images':themeDetail.images}); closeDialog();"
         class="bl_btn">Choose Theme </a>


      <a href="#" class="bl_btn_border">View Demo </a>
    </div>
    <div class="ltpop-right">
      <div class="theme-view-list">
        <a href="#" class="active"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-desktop" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-tablet" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-mobile" aria-hidden="true"></i></a>
      </div><!-- View list Ends -->
      <a href="#">
        <img src="/assets/1/0/bundles/sitetheorycore/images/visual/template.jpg" alt=""/>
      </a>
    </div>
    <a href="#" class="lt-close" ng-click="closeDialog();">X</a>
  </div><!-- Layout popup ends -->

</script>
