<div class="container">
  <div class="theme">
    <p class="inline">Theme</p>

    <div class="selector">
      <div class="top">
        <div layout="row">
          <div flex="20">
            <div class="image inline">
              <img src="http://dynamic.websimages.com/s/themes/refined/v1.24/screenshots/thumb-red.png" charset="utf-8"></img>
            </div>
          </div>

          <div flex="50">
            <div class="content">
              <p><b>Fantome</b></p>

              <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom">
        <div layout="row">
          <div flex="20" class="menus">
            <div layout="column">
              <div flex>
                <p class="text"><b>Categories</b></p>
                <ul>
                  <li><a href="#">Real Estale</a></li>
                  <li><a href="#">Churche</a></li>
                  <li><a href="#">Small Business</a></li>
                  <li><a href="#">Corporate</a></li>
                  <li><a href="#">Artist</a></li>
                  <li><a href="#">Health & Fitness</a></li>
                </ul>
              </div>
              <div flex>
                <p class="text"><b>Sort By</b></p>
                <ul>
                  <li><a href="#">Lastest</a></li>
                  <li><a href="#">Populate</a></li>
                  <li><a href="#">Favorites(2)</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div flex="80">
            <div class="templates">
              <div class="template">
                <div layout="row">
                  <div flex="50">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJnv_D5_jnvPtjEZEUlktLN5HIBOSB5vvngm0ms8fUnT_-_ueLVA" alt="">
                  </div>

                  <div flex="45">
                    <p><b>Kurage</b></p>
                    <div class="description">
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <md-button class="button">Choose Theme</md-button>
                  </div>
                </div>
              </div>

              <div class="template">
                <div layout="row">
                  <div flex="50">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJnv_D5_jnvPtjEZEUlktLN5HIBOSB5vvngm0ms8fUnT_-_ueLVA" alt="">
                  </div>

                  <div flex="45">
                    <p><b>Kurage</b></p>
                    <div class="description">
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <md-button class="button">Choose Theme</md-button>
                  </div>
                </div>
              </div>

              <div class="template">
                <div layout="row">
                  <div flex="50">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJnv_D5_jnvPtjEZEUlktLN5HIBOSB5vvngm0ms8fUnT_-_ueLVA" alt="">
                  </div>

                  <div flex="45">
                    <p><b>Kurage</b></p>
                    <div class="description">
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <md-button class="button">Choose Theme</md-button>
                  </div>
                </div>
              </div>

              <div class="template">
                <div layout="row">
                  <div flex="50">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJnv_D5_jnvPtjEZEUlktLN5HIBOSB5vvngm0ms8fUnT_-_ueLVA" alt="">
                  </div>

                  <div flex="45">
                    <p><b>Kurage</b></p>
                    <div class="description">
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <md-button class="button">Choose Theme</md-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
