@import "../bower_components/font-awesome/css/font-awesome.min.css";
.theme-selector {
  color: #636262;
  font-weight: 600;
  background-color: whitesmoke;
}
.theme-selector #btn-primary.md-primary {
  color: white;
  margin: 0;
  padding: 3px 50px;
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  background-color: #2196F3;
}
.theme-selector h2 {
  text-transform: none;
}
.theme-selector .selected-theme p {
  color: rgba(0, 0, 0, 0.2);
}
.theme-selector .list-theme .menus ul {
  padding-left: 0px;
}
.theme-selector .list-theme .menus ul li {
  list-style-type: none;
  margin: 0.5em 0 0.5em 0;
}
.theme-selector .list-theme .templates .template {
  height: 200px;
  margin-bottom: 20px;
}
.theme-selector .list-theme .templates .template .image {
  width: 150px;
  position: relative;
  margin-right: 30px;
  margin-left: 0;
}
.theme-selector .list-theme .templates .template .image:hover .overlay {
  bottom: 0;
  height: 100%;
}
.theme-selector .list-theme .templates .template .image img {
  width: 100%;
  height: auto;
}
.theme-selector .list-theme .templates .template .image .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(99, 98, 98, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.theme-selector .list-theme .templates .template .image .overlay i {
  color: #FFFFFF;
  font-size: 30px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.theme-selector .list-theme .templates .template .content {
  position: relative;
}
.theme-selector .list-theme .templates .template .content .title h3 {
  display: inline-block;
}
.theme-selector .list-theme .templates .template .content .title a {
  float: right;
}
.theme-selector .list-theme .templates .template .content .description p {
  color: rgba(0, 0, 0, 0.2);
}
.theme-selector .list-theme .templates .template .content button {
  position: absolute;
  bottom: 0;
}
