<div id="{{ elementId }}">
  <div ng-if="model" ng-transclude="model" style="list-style-type: none;">
    <span ng-bind="(property ? model.get(property) : model.data) | json"></span>
  </div>

  <div ng-if="collection" ng-cloak>
    <stratus-search data-display="true"></stratus-search>
    <ul>
      <li ng-repeat="model in collection.models" ng-transclude="model">
        <span ng-bind="(property ? model.get(property) : model.data) | json"></span>
      </li>
    </ul>
    <stratus-pagination></stratus-pagination>
  </div>
</div>
