<div class="swiper-main swiper-flex">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" data-ng-repeat="image in images">
				<div data-ng-class="::scaleHeight ? 'swiper-zoom-container' : ''">
					<div ng-if="::lazyLoad" class="swiper-lazy-preloader"></div>
					<img class="swiper-image {{lazyLoad ? 'swiper-lazy' : ''}} {{stretchWidth ? 'stretch-image' : ''}}" data-ng-src="{{::image.src}}" data-ng-click="imageClick(image, $event)"/>
				</div>
			</div>
		</div>
		<div data-ng-show="::navigation" class="swiper-button-prev"></div>
		<div data-ng-show="::navigation" class="swiper-button-next"></div>
		<div data-ng-show="::pagination" class="swiper-pagination"></div>
		<div data-ng-show="::scrollbar" class="swiper-scrollbar"></div>
	</div>
</div>
<div data-ng-if="::gallery" class="swiper-gallery swiper-flex">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" data-ng-repeat="image in images">
				<img class="swiper-image" data-ng-src="{{::image.src}}"/>
			</div>
		</div>
	</div>
</div>
