<div id="{{ elementId }}" class="swiper-flex" data-injection="swiper" ng-class="{'swiper-main': !gallery, 'swiper-gallery': gallery}">
  <div class="swiper-container" ng-class="{'gallery-top': gallery}" ng-init="initSwiper()">
    <div class="swiper-wrapper">
      <div class="swiper-slide" ng-repeat="image in images track by $index" ng-transclude="slide">
        <div ng-class="{'swiper-zoom-container': scaleHeight}">
          <!--<div ng-if="::lazyLoad" class="swiper-lazy-preloader"></div>-->
          <img class="swiper-image" ng-class="{'stretch-image': stretchWidth}"
               ng-if="!lazyLoad"
               ng-click="imageClick(image, $event)"
               ng-src="{{::(image.src||image.url)}}" />
          <!-- swiper-lazy -->
          <img class="swiper-image" ng-class="{'stretch-image': stretchWidth}"
               ng-if="lazyLoad"
               ng-click="imageClick(image, $event)"
               stratus-src
               ng-src="{{::(image.src||image.url)}}" />
          <!--
          <div class="small-label font-primary bold"
               ng-if="image.name" ng-bind="image.name">
          </div>
          -->
        </div>
      </div>
    </div>
    <div ng-show="::navigation" class="swiper-button-prev"></div>
    <div ng-show="::navigation" class="swiper-button-next"></div>
    <div ng-show="::pagination" class="swiper-pagination"></div>
    <div ng-show="::scrollbar" class="swiper-scrollbar"></div>
  </div>
</div>
