<div id="{{ elementId }}">

  <!-- Add Hamburger here and copy current designs -->
  <button type="button" ng-click="$ctrl.display = true">Open</button>

  <div ng-show="$ctrl.display">

    <!-- Drawer Close Button -->
    <button type="button" class="btn-close" ng-click="$ctrl.display = false">
      <span class="sr-only">Toggle Navigation</span>
      <md-icon md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/close.svg"
               aria-hidden="true"></md-icon>
    </button>

    <span class="stratus-drawer-view-container" ng-cloak ng-transclude="view">
      {{ value }}
    </span>

  </div>

</div>
