<!-- rendered items -->
<span ng-show="!edit" ng-click="edit=true" ng-cloak ng-transclude="render">{{ model }}</span>

<!-- simple editor -->
<span ng-show="edit" ng-cloak>
    <input type="text" ng-model="model">
    <md-button ng-click="accept()" aria-label="Accept" class="md-raised" md-colors="{background: 'green'}">
        <span class="fa fa-check"></span>
    </md-button>
    <md-button ng-click="cancel()" aria-label="Cancel" class="md-raised" md-colors="{background: 'red'}">
        <span class="fa fa-times"></span>
    </md-button>
</span>