<h4 class="stratus_edit_view_container supposeToBeA{{ tagName }} {{ elementClass }}"
     ng-class="{ liveEdit: Stratus.Environment.data.liveEdit }" ng-show="!edit" ng-click="setEdit(true)"
     ng-cloak>
    {{ value | moment:{'since':true, ago:true} }}
</h4>
<span class="stratus_edit_input_container" ng-cloak ng-show="edit" tabindex="-1">
    <md-input-container ng-cloak flex-gt-md="30">
        <label>Display Date</label>
        <stratus-date-time ng-cloak ng-model="value" ></stratus-date-time>
    </md-input-container>
</span>