/* TODO: make publish svg a sprite and reset position (not rotation like it currently does for testing only) */
stratus-help .md-button.md-icon-button {
  position: relative;
  margin: 0;
  padding: 0;
  width: 26px;
  height: 26px;
  min-width: 26px;
  min-height: 26px;
  border-radius: 50%;
  background: linear-gradient(#686868, #353535);
  background: -webkit-linear-gradient(#686868, #353535);
}
stratus-help .md-button.md-icon-button svg {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
}
stratus-help .md-button.md-icon-button svg g {
  fill: #FFFFFF;
}
.help-tooltip {
  height: auto;
}
