<div class="media-uploader border-radius-default">
  <div class="toolbar">
    <div class="md-toolbar-tools">
      <stratus-help>Files uploaded here will be saved on redundant file servers and delivered over a high speed, cached
        CDN (Content Delivery Network)
      </stratus-help>
      <h2>Add Media</h2>

      <button class="btn-close" type="button" ng-click="$ctrl.done()">
        <span class="sr-only">Close dialogue</span>
        <md-icon md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/close.svg" aria-hidden="true"></md-icon>
      </button>
    </div>
  </div>
  <div class="content">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Upload" ng-if="!$ctrl.fileData || $ctrl.fileData.file">
        <md-content class="drop-container md-padding files">
          <p class="uploader-instructions">Drag &amp; drop files here, or <span>
              <a href="#" ngf-select="$ctrl.uploadFiles($files, $invalidFiles)" ngf-multiple="$ctrl.ngfMultiple"
                ngf-max-files="10" ngf-model-invalid="invalid-files" ngf-validate="{size: {max: '10MB'}, pattern: '.jpg,.png,.pdf,.doc'}">browse
                your computer</a></span>
          </p>
          <div class="upload-zone md-padding" ngf-drop="$ctrl.uploadFiles($files, $invalidFiles)" ngf-multiple="$ctrl.ngfMultiple"
            ngf-max-files="10" ngf-model-invalid="invalid-files" ngf-validate="{size: {max: '10MB'}, pattern: '.jpg,.png,.pdf,.doc'}">
            <div class="file-list">
              <ul class="list-inline response clearfix">
                <li class="dropped-item-container" ng-repeat="file in $ctrl.files track by $index" ng-class="!file.errorUpload ? 'upload-complete' : '' ">
                  <div class="image-container" ng-class="file.progress >= 0 && !file.errorUpload ? 'progress-visible' : 'progressInvisible'">
                    <div ng-class="{'progress-complete' : file.progress == 100, 'progress-aborted' : file.upload.aborted}">
                      <div class="progress-percentage font-body">{{file.progress}}%</div>
                      <div class="progress">
                        <div ng-if="file.progress >= 0 && !file.errorUpload" class="progress-color-bar" style="width:{{file.progress}}%"></div>
                        <span ng-if="!file.errorUpload" class="hover-tick hover-tick-run"></span>
                      </div>

                      <div class="dropped-item">
                        <div ng-if="file.type == 'application/pdf'" class="document pdf">
                          <img class="media-graphic" src="/assets/1/0/bundles/sitetheorycore/images/mediaTypeGraphics/media-graphic-pdf.png">
                        </div>
                        <div ng-if="file.type == 'application/msword'" class="document word">
                          <img class="media-graphic" src="/assets/1/0/bundles/sitetheorycore/images/mediaTypeGraphics/media-graphic-doc.png">
                        </div>
                        <img ngf-thumbnail="!file.$error && file">
                        <div class="abort" ng-if="!file.errorUpload && file.upload !== null && file.progress < 100 && !file.upload.aborted">
                          <button title="Abort" ng-click="file.upload.abort(); file.upload.aborted=true">
                            <md-tooltip>Abort upload</md-tooltip>
                            <md-icon aria-hidden="true" ng-click="$ctrl.removeFromSelected(df.id);" md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/clear.svg"></md-icon>
                          </button>
                        </div>
                        <div ng-if="!file.errorUpload && file.progress === 100" class="success-check">
                          <md-icon md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/check.svg"></md-icon>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-if="file.errorUpload" class="error-message font-body">
                    {{ file.errorMsg }}
                  </div>
                </li>
              </ul>
              <div class="error-message font-body border-radius-default" ng-repeat="msg in $ctrl.invalidFilesMsg">{{msg}}</div>
            </div>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Video" ng-if="!$ctrl.fileData || $ctrl.fileData.mime === 'video' ">
        <md-content class="md-padding videos">
          <p class="description">The best way to share videos is to upload to professional video services that offer
            free storage and bandwidth, as well as sophisticated, browser-compatible video players that vary the
            quality
            and formatting based on device. They also have a popular network to widely promote your video. Simply paste
            the URL to your video and we'll add it to your site as if it's a native video.</p>
          <div class="video-list">
            <div class="md-padding video" ng-repeat="video in $ctrl.videos track by $index" ng-if="!video.isUploaded">
              <form novalidate name="videoForm" ng-submit="videoForm.$valid && $ctrl.saveOneFile(video, 'video')">
                <div class="clearfix">
                  <div class="st-grid column20">
                    <md-input-container class="md-block">
                      <md-switch md-invert ng-model="video.type" aria-label="URL - Embed" ng-true-value="'Embed'"
                        ng-false-value="'URL'" class="md-warn">{{ video.type || 'URL' }}</md-switch>
                    </md-input-container>
                  </div>
                  <div class="st-grid column5">&nbsp;</div>

                  <div class="st-grid column75">
                    <!-- URL field -->
                    <md-input-container class="md-block" ng-if="video.type != 'Embed'">
                      <label for="url">Full URL</label>
                      <input type="text" name="url" ng-model="video.url" stratus-validate-url service="youtube-vimeo"
                        required>
                      <ng-messages for="videoForm.url.$error" ng-if="videoForm.url.$dirty || videoForm.$submitted">
                        <ng-message when="required">This field is required!</ng-message>
                        <ng-message when="validateUrl">You entered a URL for a non-supported video service. If you have
                          embed code for this video, switch from "URL" to "Embed" mode and you can paste in your code.</ng-message>
                      </ng-messages>
                    </md-input-container>

                    <!-- Embed field -->
                    <md-input-container class="md-block" ng-if="video.type == 'Embed'">
                      <label for="embed">Embed Code</label>
                      <textarea name="embed" ng-model="video.embed" stratus-validate-url service="embed" required></textarea>
                      <ng-messages for="videoForm.embed.$error" ng-if="videoForm.embed.$dirty || videoForm.$submitted">
                        <ng-message when="required">This field is required!</ng-message>
                        <ng-message when="validateUrl">Please enter a valid embed code.</ng-message>
                      </ng-messages>
                    </md-input-container>

                    <!-- Title field -->
                    <md-input-container class="md-block">
                      <label for="title">Title</label>
                      <input type="text" name="title" ng-model="video.name" required>
                      <ng-messages for="videoForm.title.$error" ng-if="videoForm.title.$dirty || videoForm.$submitted">
                        <ng-message when="required">This field is required!</ng-message>
                      </ng-messages>
                    </md-input-container>

                    <!-- Description field -->
                    <md-input-container class="md-block">
                      <label for="videoForm.description">Description</label>
                      <textarea name="videoForm.description" rows="5" ng-model="video.description"></textarea>
                    </md-input-container>

                    <!-- Add tags -->

                    <div id="tag-container" ng-cloak>
                      <stratus-tag class="font-secondary" ng-model="video.tags"></stratus-tag>
                    </div>
                  </div>
                </div>
                <div layout-gt-xs="row" layout-align="end center">
                  <md-button type="submit" class="btn md-button md-ink-ripple">Save</md-button>
                  <md-button ng-if="$ctrl.videos.length > 1" class="btn md-button md-ink-ripple" ng-click="$ctrl.removeExternalFile($index, 'video')">Remove
                    video -
                  </md-button>
                </div>
              </form>
            </div>
          </div>
          <md-button class="btn gradient-anchor md-button md-ink-ripple" ng-click="$ctrl.addExternalFile('video')"
            ng-if="$ctrl.ngfMultiple">Add
            video +
          </md-button>
          <md-button ng-if="$ctrl.videos.length > 1 && $ctrl.ngfMultiple" class="btn gradient-anchor md-button md-ink-ripple"
            ng-click="$ctrl.saveAllFiles($ctrl.videos, 'video')">Save all
          </md-button>

          <div class="video-list">
            <div class="video">
              <div layout-gt-xs="row" layout-wrap>
                <md-card flex-gt-xs="33" ng-repeat="video in $ctrl.videos track by $index" ng-if="video.isUploaded">

                  <img class="md-card-image" ng-src="{{video.thumbnailUrl || '/assets/1/0/bundles/sitetheorycore/images/mediaTypeGraphics/media-graphic-youtube-dark.png'}}">

                  <!-- TODO: If no thumb exists for video because it is a link rather than an embed or for any other reason use the appropriate youtube or vimeo graphic

                                    Use this if it's vimeo
                                    <img class="md-card-image"  src="/assets/1/0/bundles/sitetheorycore/images/mediaTypeGraphics/media-graphic-vimeo.png">

                                    The original thumb
                                    <img ng-src="{{video.thumbnailUrl}}">
                                    -->

                  <md-card-content>
                    <h2 ng-bind="video.name"></h2>
                    <p ng-bind="video.description"></p>
                  </md-card-content>

                  <md-card-actions layout="row" layout-align="end center">
                    <div class="controls">
                      <md-icon md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/check.svg"></md-icon>
                    </div>
                  </md-card-actions>

                </md-card>
              </div>
            </div>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Link" ng-if="!$ctrl.fileId">
        <md-content class="md-padding links">
          <p class="description">If you already have files stored on some other cloud storage, you can add them to your
            library by just pasting in the URL to the file (or public folder), e.g. Google Drive, Drop Box. Permissions
            will be set on your third party service, and if you delete the file you will have to manually update your
            media library.</p>
          <div class="link-list">
            <div class="link" ng-repeat="link in $ctrl.links track by $index">
              <form novalidate name="linkForm" ng-submit="linkForm.$valid && $ctrl.saveOneFile(link)">
                <div class="clearfix">
                  <div class="st-grid column20">
                    <md-input-container class="md-block">
                      <select ng-model="link.service" ng-change="link.url = ''">
                        <option ng-value="service" ng-repeat="service in $ctrl.services.link">
                          {{service.label}}
                        </option>
                      </select>
                    </md-input-container>
                  </div>

                  <div class="st-grid column5">&nbsp;</div>

                  <div class="st-grid column75">
                    <!-- URL field -->
                    <md-input-container class="md-block">
                      <label for="url">Full URL</label>
                      <input type="text" name="url" ng-model="link.url" stratus-validate-url service="{{link.service.value}}"
                        required>
                      <ng-messages for="linkForm.url.$error" ng-if="linkForm.url.$dirty || linkForm.$submitted">
                        <ng-message when="required">This field is required!</ng-message>
                        <ng-message when="validateUrl">Your URL is not a valid {{link.service.label}} link.</ng-message>
                      </ng-messages>
                    </md-input-container>

                    <!-- Title field -->
                    <md-input-container class="md-block">
                      <label for="linkForm.title">Title</label>
                      <input type="text" name="linkForm.title" ng-model="link.name">
                    </md-input-container>

                    <!-- Description field -->
                    <md-input-container class="md-block">
                      <label for="linkForm.description">Description</label>
                      <textarea name="linkForm.description" rows="5" ng-model="link.description"></textarea>
                    </md-input-container>

                    <!-- Add tags -->
                    <div id="tag-link-container" ng-cloak>
                      <stratus-tag class="font-secondary" ng-model="link.tags"></stratus-tag>
                    </div>
                  </div>
                </div>

                <div layout-gt-xs="row" layout-align="end center">
                  <md-button type="submit" class="btn md-button md-ink-ripple">Save</md-button>
                  <md-button ng-if="$ctrl.links.length > 1" class="btn md-button md-ink-ripple" ng-click="$ctrl.removeExternalFile($index)">Remove
                    link -
                  </md-button>
                </div>
              </form>
            </div>
          </div>
          <md-button class="btn md-button md-ink-ripple" ng-click="$ctrl.addExternalFile()">Add link +
          </md-button>
          <md-button ng-if="$ctrl.links.length > 1" class="btn md-button md-ink-ripple" ng-click="$ctrl.saveAllFiles($ctrl.links)">Save
            all
          </md-button>
        </md-content>
      </md-tab>
    </md-tabs>
  </div>
</div>
