/* These 2 dialogue classes should be wrapped in a content type class but that needs to be added to the body class dynamically */
.md-dialog-container {
  z-index: 100;
}
/* Dialogue window */
.media-details {
  width: 100%;
  max-width: 800px;
  padding: 28px;
  position: relative;
}
/* Media details title */
.media-details .title-container {
  margin-bottom: 26px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.3);
}
.media-details .title-container h2 {
  overflow: hidden;
  max-width: 55%;
}
.media-details .title-container .smallLabel {
  padding-right: 60px;
}
/* Close button */
.media-details .btnClose {
  float: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
/* Action buttons */
.media-details .action-btns {
  margin-bottom: 16px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.media-details .action-btns ul {
  float: right;
}
.media-details .action-btns ul li {
  float: left;
  max-width: 25%;
}
.media-details .action-btns a {
  display: block;
  margin: 0 4px 4px 0;
  padding: 6px;
  opacity: 1;
  border: 1px solid #BCBCBC;
}
.media-details .action-btns a:hover {
  background: #222;
  border: 1px solid #222;
}
.media-details .action-btns a:hover svg g {
  fill: #FFF;
}
.media-details .action-btns md-icon {
  width: inherit;
  height: inherit;
}
.media-details .action-btns svg g {
  fill: #434343;
}
/* Add tags */
.media-details #tag-container {
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.media-details #tag-container .md-chips .md-chip-input-container {
  margin: 0 0 10px;
}
.media-details #tag-container .md-chips .md-chip-input-container md-autocomplete input::placeholder {
  padding-left: 34px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #857255;
  background: url('/assets/1/0/bundles/sitetheorycore/images/icons/actionButtons/add-gold.png') no-repeat;
  background-size: 18px;
}
.media-details #tag-container .md-chips .md-chip-input-container md-autocomplete input:hover::placeholder {
  color: #111;
}
.media-details #tag-container .md-chips .md-chip-input-container md-autocomplete input {
  transition: all 0.2s ease-out;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
}
.media-details #tag-container .md-chips .md-chip-input-container md-autocomplete input:hover {
  color: #222;
}
.media-details #tag-container .md-chips .md-chip-input-container md-autocomplete input:focus::placeholder {
  padding: 0;
  font-weight: normal;
  color: #222;
  background: none;
}
.media-details #tag-container .md-chips .md-chip-input-container md-autocomplete md-chips-wrap {
  max-width: 220px;
  overflow: hidden;
}
.media-details #tag-container .md-chips .md-chip-input-container md-autocomplete .md-chips {
  padding: 0;
}
.media-details #tag-container .md-chips .md-chip-input-container md-autocomplete .md-chips md-chip {
  margin: 0 8px 8px 0;
}
/* Media specs */
.media-specs .smallLabel {
  margin: 0 0 6px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #999;
}
.media-specs .smallLabel span {
  color: #222;
  font-weight: bold;
}
/* Media description */
.media-details .description {
  margin-top: 30px;
  line-height: 1.3;
  color: #666;
}
/* Media image */
.details-image {
  margin-left: 20px;
  text-align: center;
  background: rgba(200, 200, 200, 0.06);
}
.details-image img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 625px;
  max-height: 450px;
  object-fit: contain;
}
@media (max-width: 959px) {
  .details-image {
    margin: 0 0 20px 0;
  }
}
