<div class="info-hover-container" ng-mouseenter="hovering = true" ng-mouseleave="hovering = false">
    <div class="border-radius-default image-hover-info" layout="column" layout-align="space-between center">
        <div class="format-size">
            <div class="small-label file-details">
                <span class="file-type">{{ ($ctrl.media.extension || $ctrl.media.service || ($ctrl.media.embed ? 'Embedded Video' : '')) | uppercase}}</span>
                <span class="delimiter" ng-if="$ctrl.media.bytesHuman && $ctrl.media.bytesHuman != 'Empty'"></span>
                <span class="file-size" ng-bind="$ctrl.media.bytesHuman && $ctrl.media.bytesHuman != 'Empty' ? $ctrl.media.bytesHuman : ''"></span>
            </div>
        </div>
        <p class="font-body image-title">{{ ($ctrl.media.name || 'No title')  | limitTo:34 }}</p>
        <div class="position-action-area">
            <div class="action-btns">
                <a href="#" class="border-radius-default">
                    <md-icon class="info-icon" aria-hidden="true" ng-click="$ctrl.showDetails($ctrl.media)"
                            md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/info.svg"><md-tooltip>Show details</md-tooltip></md-icon>
                </a>
                <a href="#" ng-if="!$ctrl.isSelector" class="border-radius-default">
                    <md-tooltip>Permanently delete from libary</md-tooltip>
                    <md-icon class="delete-icon" aria-hidden="true" ng-click="$ctrl.deleteMedia($ctrl.media.id)"
                             md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/delete.svg"></md-icon>
                </a>
                <a href="#" ng-if="$ctrl.isSelector" class="border-radius-default">
                    <md-tooltip>Remove selection</md-tooltip>
                    <md-icon aria-hidden="true" class="clear-icon" ng-click="$ctrl.removeFromSelected($ctrl.media.id);"
                              md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/clear.svg"></md-icon>
                </a>
            </div>
        </div>
    </div>
</div>