/* Media library title */
#media-library .selected-media-label {
  margin-bottom: 0;
  border-bottom: 1px solid #ebebeb;
}


.media-content li.library-toggle {
  padding: 0;
}
.media-content li.library-toggle a {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  display: block;
}
.media-content li.library-toggle a:hover {
  border-color: rgba(0, 0, 0, 0.5);
}
.media-content li.library-toggle a:hover svg g {
  fill: #111;
}
.media-content li.library-toggle a md-icon {
  height: inherit;
  min-width: inherit;
  min-height: inherit;
  width: 50%;
}
.media-content li.library-toggle a md-icon svg g {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.media-item:hover .image-draggable {
  opacity: 0.65;
}