<div class="container">
    <div class="gallery-box">
        <!-- Gallery header Ends -->
        <div id="selected_drop_area" ng-class="{'yellow-border':dragClass}" class="gl-content upload-image" ng-model="files" name="files" ngf-multiple="true"  ngf-before-model-change="beforeChange($files,$event)"
              ngf-drop ngf-max-files="20"  ngf-model-invalid="invalidFiles" ngf-validate="{size: {max: '10MB'}}"  ngf-drag-over-class="dragover" ngf-drag="dragSelected($isDragging, $class, $event)">
            <!-- show only if no files are dragged-->
         <!--   <a ng-if="!draggedFiles.length"  ngf-drop ngf-multiple="true" ngf-before-model-change="beforeChange($files,$event)"
               ngf-max-files="20" ngf-model-invalid="invalidFiles" ngf-validate="{size: {max: '10MB'}}"
               ngf-drag-over-class="dragover" href="#" ng-click="openLibrary()">-->

            <a ng-if="!draggedFiles.length"  href="#" ng-click="openLibrary()">

                <i ng-class="showLibraryClass" aria-hidden="true"></i> Open library to
                select images or drag, drop new images here</a>

      <!-- <div id="draggable">dfsdfsdfsdf</div>-->

            <ul id="dushman"  ng-if="draggedFiles.length">


               <!-- <li id="{{df.id}}" ng-class="{'trash_icon':trashIconStyle}" ng-repeat="df in draggedFiles" ngf-drop   ngf-drag="dragSelected($isDragging, $class, $event, df)">-->
                <li class="draggableImg" ng-repeat="df in draggedFiles">
                    <div class="file-upload-drag" ng-if="df.mime == 'application/x-unknown'">
                        <i class="fa fa-file file-icon-drag"></i>
                    </div>
                    <div  ng-if="df.mime != 'application/x-unknown'" class="gl-img-container">
                        <a  href="#">
                            <img class="selectImgDrag" id="{{df.id}}" ngf-src="df.url" >
                        </a>
                    </div><!-- Gallery Image Container Ends -->
                    <div class="image-info-outer">
                        <div class="img-info">
                            <div class="img-info-left">
                                <div class="format-size">
                                    <span class="fm-tag">{{ df.extension | uppercase }}</span> <span class="size">{{ df.bytesHuman }}</span>
                                </div>
                                <p>{{ df.name }}</p>
                            </div><!-- Image Left Info Ends -->
                            <div class="img-info-right">
                                <a href="#" class="info-ico"><i class="fa fa-info" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-trash-o" aria-hidden="true" ng-click="removeFromSelected(df.id);"></i></a>
                            </div><!-- Image Info Right Ends -->
                        </div><!-- Image Info Ends -->
                    </div><!-- Image Outer Ends -->
                </li>
                <li class="action-btn"><a href="#" ng-click="mediaLibrary()" class="add-del">
                    <i ng-class="dragDropClass" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div><!-- Gl Content Ends -->
    </div><!-- Gallery Box Ends -->
    <div id="openLibrary" ng-show="showLibrary">
        <div class="gallery-box">
            <div class="gl-content" ng-class="{'layer_black':dragClass}">
                <div class="search-bar">
                    <div class="gal-search">
                        <stratus-search flex></stratus-search>
                    </div>
                    <p>To upload more images to library, drag and drop here or <a href="#" ngf-select="uploadToLibrary($files)">
                        Click Here </a></p>
                </div><!-- Search Bar Ends -->
                <ul ngf-drop="uploadToLibrary($files)" ngf-multiple="true" ngf-max-files="20" ngf-model-invalid="invalidFiles" ngf-validate="{size: {max: '10MB'},pattern: '.jpg,.pdf,.png'}">
                    <li  ng-repeat="media in collection.models"  ngf-drop ngf-drag="dragFromLib($isDragging, $class, $event, media.data.id)">
                        <div class="gl-img-container" ng-class="{'selected--img': hovering,'selected--list':media.data.selectedClass,'drag_cursor':dragClass}">
                           <!-- <a href="#" ng-mouseleave="iconStyle = ''"  ng-class="{true:'minus_icon' ,false: 'add_icon',undefined:'add_icon'}[iconStyle]" ng-mouseenter="iconStyle=media.data.selectedClass"
                               ng-click="addDeleteMedia(media.data.selectedClass,media.data.id);" ng-dblclick="zoomView(media.data)">-->

                            <a href="#" ng-mouseleave="iconStyle = ''"  ng-class="{true:'minus_icon' ,false: 'add_icon',undefined:'add_icon'}[iconStyle]" ng-mouseenter="iconStyle=media.data.selectedClass"
                               stratus-sglclick="addDeleteMedia(media.data.selectedClass,media.data.id);" ng-dblclick="zoomView(media.data)">

                                <img class="imgLibDrag" id="lib_{{media.data.id}}"   ng-src="{{media.data.url}}" draggable="true"></a>
                        </div><!-- Gallery Image Container Ends -->
                        <div class="image-info-outer" ng-mouseenter="hovering = true" ng-mouseleave="hovering = false">
                            <div class="img-info">
                                <div class="img-info-left">
                                    <div class="format-size">
                                        <span class="fm-tag">{{media.data.extension|uppercase}}</span> <span
                                            class="size">{{media.data.bytesHuman}}</span>
                                    </div>
                                    <p>{{media.data.name}}</p>
                                </div><!-- Image Left Info Ends -->
                                <div class="img-info-right">
                                    <a href="#" class="info-ico" ng-click="zoomView(media.data)"><i class="fa fa-info" aria-hidden="true"></i></a>
                                   <!-- <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>-->
                                </div><!-- Image Info Right Ends -->
                            </div><!-- Image Info Ends -->
                        </div><!-- Image Outer Ends -->
                    </li>
                </ul>

            </div>
            <stratus-pagination></stratus-pagination>
        </div>
    </div>

    <div id="openDragDropLibrary" ng-show="showDragDropLibrary">
        <div class="gallery-box">
            <div class="gl-content" ng-class="{'layer_black':dragClass}">
                <div class="search-bar">
                    <div class="gal-search">
                        <stratus-search flex></stratus-search>
                    </div>
                    <p>To upload more images to library, drag and drop here or <a href="#" ngf-select="uploadToLibrary($files)"> Click Here </a></p>
                </div><!-- Search Bar Ends -->
                <ul ngf-drop="uploadToLibrary($files)"  ngf-multiple="true" ngf-max-files="20" ngf-model-invalid="invalidFiles" ngf-validate="{size: {max: '10MB'}}">
                 <!--   <li ng-repeat="media in collection.models" ngf-drop ngf-drag="dragFromLib($isDragging, $class, $event, media.data.id)">-->
                    <li ng-repeat="media in collection.models" ngf-drop ngf-drag="dragFromLib($isDragging, $class, $event, media.data.id)">
                        <div class="gl-img-container" ng-class="{'selected--img': hover,'selected--list':media.data.selectedClass,'drag_cursor':dragClass}">
                            <a href="#" ng-mouseleave="iconStyles = ''" ng-class="{true:'minus_icon' ,false: 'add_icon',undefined:'add_icon'}[iconStyles]"
                               ng-mouseenter="iconStyles=media.data.selectedClass"
                               stratus-sglclick="addDeleteMedia(media.data.selectedClass,media.data.id);" ng-dblclick="zoomView(media.data)">
                                <img class="imgLibDrag" id="libb_{{media.data.id}}" draggable="true" ng-src="{{media.data.url}}" draggable="true"></a>
                        </div><!-- Gallery Image Container Ends -->
                        <div class="image-info-outer" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                            <div class="img-info">
                                <div class="img-info-left">
                                    <div class="format-size">
                                        <span class="fm-tag">{{media.data.extension|uppercase}}</span> <span class="size">{{media.data.bytesHuman}}</span>
                                    </div>
                                    <p>{{media.data.name}}</p>
                                </div><!-- Image Left Info Ends -->
                                <div class="img-info-right">
                                    <a href="#" class="info-ico" ng-click="zoomView(media.data)"><i class="fa fa-info" aria-hidden="true"></i></a>
                                   <!-- <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>-->
                                </div><!-- Image Info Right Ends -->
                            </div><!-- Image Info Ends -->
                        </div><!-- Image Outer Ends -->
                    </li>
                </ul>
            </div>
            <stratus-pagination></stratus-pagination>
        </div>
    </div>
</div>
<!---show light box overlay for drag/dropped files--->
<script type="text/ng-template" id="uploadedFiles.html">
    <div class="dropped-files" role="dialog">
        <ul style="clear:both" class="response">
            <li class="sel-file" ng-repeat="f in files">
                <div class="image--cn">
                    <i ng-if="f.type == 'application/x-unknown'" class="fa fa-file" style="font-size:115px;"></i>
                   <img ngf-thumbnail="!f.$error && f" class="thumb">
             <!-- <img  ngf-src="!f.$error && f" class="thumb">-->
                    <!-- <span class="progress" ng-show="f.progress >= 0 && f.progress != 100">-->
                    <span class="progress" ng-show="f.progress >= 0 && f.uploadStatus == false && f.errorUpload == false" >
                        <div style="width:{{f.progress}}%">{{f.progress}}%</div>
                    </span>
                    <button title="Abort" class="cancel--btn" ng-click="f.upload.abort();f.upload.aborted=true"
                            ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">
                    </button>
                    <span ng-show="f.errorUpload == true && f.uploadStatus == false" class="hover-cross hover-cross-run"></span>
                    <span class="image-size"> {{f.size}}<!--B - type: {{f.type}}--></span>
                    <span title="{{f.name}}" class="image-name">{{f.name}}</span>
                   <!-- <span ng-show="f.progress == 100 && f.upload.aborted != true" class="hover-tick hover-tick-run"></span>-->
                    <span  ng-show="f.uploadStatus == true && f.errorUpload == false" class="hover-tick hover-tick-run"></span>
                </div>
                <!-- show error message if uploading fails--->
                <span class="error-upload-msg" ng-show="f.errorUpload == true && f.uploadStatus == false">{{f.errorMsg}}</span>
            </li>
            <li class="media-err-msg"  ng-repeat="f in invalidFiles">

                <!--Invalid File: {{f.$errorMessages}} {{f.$errorParam}}, {{f.name}} - size: {{f.size}}B - type:
                {{f.type}}-->
                <span ng-if="f.$errorMessages.maxSize">File({{f.name}}) too large,maximum size allowed is {{f.$errorParam}}</span>

            </li>
        </ul>

        <md-button ng-show="uploadComp" class="grey_btn" ng-click="closeDialog();">DONE</md-button>
    </div>
</script>
<!---show light box overlay for media detail--->
<script type="text/ng-template" id="mediaDetail.html">
    <div class="media-popup" role="dialog" >
        <div class="cross-btn">
            <a href="javascript:;"></a>
        </div>
        <div class="right-image">
            <img ng-src="{{mediaDetail.url}}" alt="">
            <label>Tags</label>
            <<span ng-if="mediaDetail.tags.length" ng-repeat="tag in mediaDetail.tags">{{tag.name}}</span>
        </div>
        <div class="left-txt">
            <h2>{{mediaDetail.name}}</h2>
            <p>{{mediaDetail.description}}</p>
            <div class="img-tag">
                {{mediaDetail.extension| uppercase}}
            </div>
            <label>Size<span>{{mediaDetail.bytesHuman}}</span></label>
            <label>Ratio<span>{{mediaDetail.ratio}}</span></label>
            <label>Date<span>07/02/16 @3:25PM</span></label>
            <div class="action-section">
                <label>Actions</label>
                <ul>
                    <li><a href="javascript:;" class="del-img" ng-click="deleteMediaFromLibrary(mediaDetail.id);">Delete</a></li>
                  <!--  <li><a href="javascript:;" class="replace-img">Replace</a></li>-->
                    <li><a href="{{mediaDetail.url}}"  class="download-img">Download</a></li>
                </ul>
            </div>
        </div>
    </div>
</script>
