.media-details {
  background: #2e2e2e;
  border-radius: 5px;
  padding: 2em;
  min-width: 700px;
}
.media-details .header {
  margin-bottom: 1.5em;
  box-shadow: 0 1px rgba(214, 211, 211, 0.4);
}
.media-details .header div {
  display: inline-block;
  color: #fff;
}
.media-details .header .header-left {
  color: #fff;
  font-weight: bold;
}
.media-details .header .header-right {
  text-align: right;
}
.media-details .header .header-right div .tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: inline-flex;
}
.media-details .header .header-right div .tags .tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  border-color: #2e2e2e;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
.media-details .header .header-right div .tags .tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.media-details .header .header-right div .tags .tag::after {
  background: #fff;
  border-bottom: 13px solid #2f2f2f;
  border-left: 10px solid #eee;
  border-top: 13px solid #2f2f2f;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.media-details .header .header-right div .tags .tag:hover {
  background-color: crimson;
  color: white;
}
.media-details .header .header-right div .tags .tag:hover::after {
  border-left-color: crimson;
}
.media-details .header .header-right div .fa {
  cursor: pointer;
}
.media-details .header .header-right div .fa-times-circle {
  color: #fff;
  background: #2e2e2e;
}
.media-details .content {
  color: #fff;
}
.media-details .content .inform textarea {
  resize: none;
}
.media-details .content .inform .controls-function {
  padding: 0;
  display: flex;
}
.media-details .content .inform .controls-function .icon {
  display: inline-block;
  margin-right: 0.5em;
  border: 1px solid;
  border-radius: 2px;
  height: fit-content;
  border-color: rgba(214, 211, 211, 0.4);
  transition: 0.3s all;
}
.media-details .content .inform .controls-function .icon .fa {
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: inherit !important;
  text-align: center;
}
.media-details .content .inform .controls-function li {
  padding-top: 3px;
}
.media-details .content .inform .controls-function li:hover {
  box-sizing: content-box;
  border-color: #fff;
}
.media-details .content .inform .controls-function li a {
  color: #fff;
}
.media-details .content .inform .image-inform {
  margin-top: 1em;
}
.media-details .content .inform .image-inform p span {
  display: block;
  color: #bbadad;
}
.media-details .content .inform .image-inform p span label {
  color: #fff;
}
.media-details .content .inform .description {
  margin-top: 1em;
  font-size: 14px;
  color: #bbadad;
}
.media-details .content .image img {
  width: 100%;
  max-height: 530px;
  max-width: 625px;
  object-fit: contain;
}
.media-details .content .infoFullImage {
  text-align: center;
}
.media-details .content .infoFullImage .document {
  font-size: 10em;
  padding: 50px 0;
}
.media-details .titleContainer .image-name input {
  width: 100%;
}
.media-details .titleContainer .tagContainer {
  padding-right: 0;
  margin-left: 15px;
}
.media-details .titleContainer .tagContainer md-chips {
  float: right;
  margin-right: 50px;
  border-radius: 3px;
}
.media-details .titleContainer .tagContainer md-chips .md-chips.md-focused {
  box-shadow: 0 2px #fff;
}
.media-details .titleContainer .tagContainer md-chips md-autocomplete label {
  color: #fff;
}
.media-details .titleContainer .tagContainer md-chips md-autocomplete input {
  bottom: 10px;
  color: #fff;
}
