@import "../bower_components/font-awesome/css/font-awesome.min.css";
.drop-box {
  background: transparent;
  border: 5px dashed #E1E1E1;
  width: 100%;
  height: 50vh;
  text-align: center;
  position: relative;
  margin-top: 20px;
}
.drop-box span {
  color: rgba(0, 0, 0, 0.2);
  font-size: 30px;
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.drop-box span a {
  color: #636262;
  padding: 0 8px;
  font-weight: bold;
  border-radius: 3px;
  border: 2px solid #636262;
}
#openLibrary .instructions {
  padding: 10px;
  color: rgba(0, 0, 0, 0.55);
  font-size: 200%;
  text-align: center;
  border-radius: 3px;
  border: 3px dashed rgba(0, 0, 0, 0.2);
}
.mediaLibraryContent {
  background: #2E2E2E;
  border-radius: 3px;
  padding: 1em;
}
.mediaLibraryContent .library-header {
  height: 40px;
  box-shadow: 0 1px rgba(214, 211, 211, 0.4);
}
.mediaLibraryContent .library-header p {
  display: inline-block;
  color: #FFFFFF;
}
.mediaLibraryContent .library-header .title {
  font-weight: bold;
}
.mediaLibraryContent .library-header .instructions {
  float: right;
}
.mediaLibraryContent .library-content {
  margin-top: 1em;
}
.mediaLibraryContent .library-content stratus-search {
  margin-bottom: 0.5em;
}
.mediaLibraryContent .library-content .medias {
  max-width: 900px;
  margin: 2em auto;
  column-width: 200px;
  box-shadow: 0 1px rgba(214, 211, 211, 0.4);
}
.mediaLibraryContent .library-content .medias .media-item {
  display: inline-block;
  margin-bottom: 0.4em;
  position: relative;
}
.mediaLibraryContent .library-content .medias .media-item img {
  object-fit: cover;
  width: 100%;
  height: auto;
  box-shadow: 0 1px 1px rgba(214, 211, 211, 0.4);
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.mediaLibraryContent .library-content .medias .media-item .middle-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transition: .5s ease;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  transform: translate(-50%, -50%);
  text-align: center;
}
.mediaLibraryContent .library-content .medias .media-item .middle-details .name p {
  font-weight: bold;
  color: whitesmoke;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mediaLibraryContent .library-content .medias .media-item .middle-details .time p {
  color: whitesmoke;
  font-size: 14px;
}
.mediaLibraryContent .library-content .medias .media-item .middle-details .controls .fa {
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: inherit !important;
  background: #e6e5e561;
}
.mediaLibraryContent .library-content .medias .media-item .middle-details .controls .fa-info-circle {
  color: #FFFFFF;
}
.mediaLibraryContent .library-content .medias .media-item .middle-details .controls .fa-trash-o {
  color: #FFFFFF;
}
.mediaLibraryContent .library-content .medias .media-item:hover {
  background-color: black;
}
.mediaLibraryContent .library-content .medias .media-item:hover img {
  opacity: 0.4;
}
.mediaLibraryContent .library-content .medias .media-item:hover .middle-details {
  opacity: 1;
}
@media screen and (max-width: 750px) {
  .mediaLibraryContent .library-content .medias {
    column-gap: 0px;
  }
  .mediaLibraryContent .library-content .medias .media-item {
    width: 100%;
  }
}
.mediaLibraryContent .library-footer {
  height: 40px;
  display: block;
  position: relative;
}
.mediaLibraryContent .nav-button {
  display: block;
  position: relative;
}
.mediaLibraryContent .nav-button stratus-pagination {
  position: absolute;
  right: 2px;
  top: 3px;
}
.mediaLibraryContent .nav-button stratus-pagination .paginator {
  padding-top: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.mediaLibraryContent .nav-button stratus-pagination .paginator .paginatorPrevious a,
.mediaLibraryContent .nav-button stratus-pagination .paginator .paginatorNext a,
.mediaLibraryContent .nav-button stratus-pagination .paginator .paginatorPages a {
  color: white !important;
}
.mediaLibraryContent .nav-button stratus-pagination .paginator .paginatorProgress md-progress-circular {
  width: 20px !important;
  height: 20px !important;
}
.mediaLibraryContent .nav-button stratus-pagination .paginator .paginatorProgress md-progress-circular svg {
  width: 100% !important;
  height: 100% !important;
  transform-origin: unset !important;
}
