<div class="info-hover-container" ng-mouseenter="hovering = true" ng-mouseleave="hovering = false">
    <div class="image-hover-info backgroundDark borderRadiusDefault" layout="column" layout-align="space-between center">
        <div class="format-size">
            <div class="smallLabel fileDetails">
                <span class="file-type">{{ ($ctrl.media.extension || $ctrl.media.service || ($ctrl.media.embed ? 'Embedded Video' : '')) | uppercase}}</span><span
                    class="delimiter" ng-if="$ctrl.media.bytesHuman && $ctrl.media.bytesHuman != 'Empty'"></span><span class="file-size" ng-bind="$ctrl.media.bytesHuman && $ctrl.media.bytesHuman != 'Empty' ? $ctrl.media.bytesHuman : ''"></span>
            </div>
        </div>
        <p class="fontBody image-title">{{ $ctrl.media.name || 'No title'}}</p>
        <!-- <div class="time"><p>{{media.data.time *1000 | date: 'MMM dd, yyyy h:mma'}}</p></div> -->
        <div class="position-action-area">
            <div class="action-btns">
                <a href="#">
                    <i aria-hidden="true"
                       ng-click="$ctrl.showDetails($ctrl.media)" class="infoIcon">
                        <md-tooltip>Image details</md-tooltip>
                        <md-icon
                                md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/info.svg"></md-icon>
                    </i>
                </a>
                <a href="#" ng-if="!$ctrl.isSelector">
                    <i aria-hidden="true" class="deleteIcon">
                        <md-tooltip>Permanently delete from libary</md-tooltip>
                        <md-icon class="deleteIcon" aria-hidden="true" ng-click="$ctrl.deleteMedia($ctrl.media.id)"
                                 md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/delete.svg"></md-icon>
                    </i>
                </a>
                <a href="#" class="deleteIcon" ng-if="$ctrl.isSelector">
                    <md-tooltip>Remove selection</md-tooltip>
                    <md-icon aria-hidden="true" ng-click="$ctrl.removeFromSelected($ctrl.media.id);"
                              md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/clear.svg"></md-icon>
                </a>
            </div>
        </div>
    </div>
</div>