.media-details {
  background: #2E2E2E;
  border-radius: 5px;
  padding: 2em;
}
.media-details .header {
  margin-bottom: 1.5em;
  box-shadow: 0 1px rgba(214, 211, 211, 0.4);
}
.media-details .header div {
  display: inline-block;
  color: #FFFFFF;
}
.media-details .header .header-left {
  color: #FFFFFF;
  font-weight: bold;
}
.media-details .header .header-right {
  text-align: right;
}
.media-details .header .header-right div .tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: inline-flex;
}
.media-details .header .header-right div .tags li {
  display: inline-block;
  float: left;
}
.media-details .header .header-right div .tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.media-details .header .header-right div .tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.media-details .header .header-right div .tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.media-details .header .header-right div .tag:hover {
  background-color: crimson;
  color: white;
}
.media-details .header .header-right div .tag:hover::after {
  border-left-color: crimson;
}
.media-details .header .header-right div .fa {
  cursor: pointer;
}
.media-details .header .header-right div .fa-times-circle {
  color: #FFFFFF;
  background: #2E2E2E;
}
.media-details .content {
  color: #FFFFFF;
}
.media-details .content .inform .controls-function {
  display: flex;
}
.media-details .content .inform .controls-function .icon {
  display: inline-block;
  margin-right: 0.5em;
  border: 1px solid;
  border-color: rgba(214, 211, 211, 0.4);
  height: fit-content;
}
.media-details .content .inform .controls-function .icon .fa {
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: inherit !important;
  text-align: center;
}
.media-details .content .inform .image-inform {
  margin-top: 1em;
}
.media-details .content .inform .image-inform p span {
  display: block;
  color: #bbadad87;
}
.media-details .content .inform .image-inform p span label {
  color: #FFFFFF;
}
.media-details .content .inform .description {
  margin-top: 1em;
  font-size: 14px;
  color: #bbadad87;
}
.media-details .content .image img {
  width: 100%;
  max-height: 530px;
  max-width: 625px;
  object-fit: contain;
}
