/* Custom text elements */
.smallLabel {
  font-weight: bold;
  color: #111;
}
/* Library Header */
.library-header {
  margin-bottom: 36px;
}
.library-header button {
  margin: 0;
  height: 46px;
}
.instructions {
  float: right;
  font-size: 13px;
}
.instructions a,
.instructions a:link,
.instructions a:visited,
.instructions a:active {
  text-decoration: underline;
  font-weight: bold;
}
.instructions a:hover {
  text-decoration: none;
}
/* Action buttons */
.action-btns a {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  opacity: 0.8;
}
.action-btns a svg {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
.action-btns a svg g {
  fill: #ccc;
}
.action-btns a:hover {
  opacity: 1;
}
.action-btns a:hover svg g {
  fill: #fff;
}
/* Draggable image */
.image-draggable {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
/* Section container */
.section-container {
  position: relative;
  z-index: 100;
  padding: 3.5%;
  background: #fff;
}
.section-container a {
  transition: all 0.2s ease-out;
}
.section-container .selected-media-label {
  margin-bottom: 18px;
}
.section-container ul {
  animation: itemsGrow 0.2s ease-out both;
  -webkit-animation: itemsGrow 0.2s ease-out both;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  display: block;
  margin: 0 -2px;
}
.section-container .shapeholder {
  width: 100%;
}
/* Selected media */
.selected-container ul li {
  position: relative;
  width: 12.5%;
  padding: 2px;
}
.selected-container li.library-toggle {
  padding: 0;
}
.selected-container li.library-toggle a {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  display: block;
}
.selected-container li.library-toggle a:hover {
  border-color: rgba(0, 0, 0, 0.5);
}
.selected-container li.library-toggle a:hover svg g {
  fill: #111;
}
.selected-container li.library-toggle a md-icon {
  height: inherit;
  min-width: inherit;
  min-height: inherit;
  width: 50%;
}
.selected-container li.library-toggle a md-icon svg g {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
/* Library search */
.media-search {
  margin: 0;
  width: 60%;
}
.media-search .search input {
  width: 100%;
  font-size: 13px;
  background: transparent;
}
.media-search .search input.borderDefault {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.media-search .search .left-icon {
  transform: translateX(-4px);
  left: 0;
}
.media-search .search .right-icon {
  width: 42px;
  height: 42px;
  min-width: 42px;
  min-height: 42px;
}
/* Library list */
.library-content {
  margin: 0 0 16px;
}
.library-content ul {
  margin: 0 -4px;
}
.library-content ul li {
  width: 12.5%;
  padding: 4px;
}
.library-content:hover .image-draggable {
  opacity: 0.65;
}
.library-item {
  animation: itemsGrow 0.2s ease-out both;
  -webkit-animation: itemsGrow 0.2s ease-out both;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  background: #222;
}
.library-item a {
  display: block;
}
.library-item .image-draggable.video-thumb {
  background-color: rgba(106, 89, 66, 0.7);
}
.library-item.selected-media {
  background: #000;
}
.library-item.selected-media .image-draggable {
  opacity: 0.5;
}
.library-item.selected-media .image-draggable.video-thumb {
  background-color: transparent;
}
/* Media type icon */
.thumb-gradient {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 36px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
}
.thumb-icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
}
.thumb-icon md-icon {
  display: block;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}
.thumb-icon svg g {
  fill: #FFF;
}
.library-item:hover .thumb-icon md-icon {
  transform: scale(0);
  -webkit-transform: scale(0);
  opacity: 0;
}
/* Library items hover */
.icon-plus md-icon,
.icon-minus md-icon,
.icon-check md-icon {
  width: 100%;
  height: inherit;
}
.icon-plus md-icon svg,
.icon-minus md-icon svg,
.icon-check md-icon svg {
  transform-origin: center center;
  -webkit-transform-origin: center center;
  transition: all 0.1s ease-out;
  -wekbit-transition: all 0.1s ease-out;
}
.icon-plus md-icon svg g,
.icon-minus md-icon svg g,
.icon-check md-icon svg g {
  fill: #fff;
}
/* Library hover controls */
.controls-cursor {
  pointer: cursor;
}
.icon-plus,
.icon-minus {
  visibility: hidden;
  z-index: 100;
}
.icon-plus svg,
.icon-minus svg {
  transform: scale(0.3);
  -webkit-transform: scale(0.3);
  opacity: 0;
}
.icon-check {
  visibility: hidden;
  z-index: 20;
}
.icon-plus.display,
.icon-minus.display,
.icon-check.display {
  visibility: visible;
}
.library-item:hover .icon-plus svg,
.library-item:hover .icon-minus svg {
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}
.library-item:hover .icon-check svg {
  transform: scale(0.3);
  -webkit-transform: scale(0.3);
  opacity: 0;
}
/* Image info hover popup */
.info-hover-container {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transform: translate(-50%, -100%) scale(0.2);
  -wekbit-transform: translate(-50%, -100%) scale(0.2);
  transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  position: absolute;
  top: 0;
  left: 50%;
  visibility: hidden;
  z-index: 99;
  opacity: 0;
  margin: -6px 0 8px;
  padding: 0;
  width: 150px;
  text-align: center;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.info-hover-container .backgroundDark {
  background: rgba(0, 0, 0, 0.95);
}
.selected-media-item:hover .info-hover-container,
.library-item:hover .info-hover-container {
  transform: translate(-50%, -94%) scale(1);
  -wekbit-transform: translate(-50%, -94%) scale(1);
  visibility: visible;
  opacity: 1;
}
.image-hover-info {
  overflow: hidden;
  position: relative;
  z-index: 99;
  padding: 12px;
  background: #222;
  margin: 0;
  color: #fff;
  min-height: 120px;
}
.image-hover-info .file-type {
  color: #ddd;
}
.image-hover-info .delimiter {
  padding-right: 6px;
  margin-right: 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.image-hover-info .file-size {
  color: #aaa;
}
.image-hover-info .image-title {
  overflow: hidden;
  margin: 8px 0;
  max-height: 56px;
  font-size: 13px;
  color: #FFF;
  font-weight: bold;
}
.image-hover-info .action-btns {
  margin: 0 auto;
  padding-top: 6px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.image-hover-info .action-btns a {
  display: inline-block;
}
/* Image hover info container notch */
.info-hover-container::after {
  content: '';
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 8px solid #222;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.library-footer {
  margin-top: 36px;
  padding-top: 18px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.library-footer .smallLabel {
  color: #383838;
  font-size: 10px;
}
/* Library thumb size slider */
.thumb-slider {
  height: 52px;
  width: 20%;
}
.thumb-slider .thumb-icon-small {
  transform: translateX(-4px);
  position: absolute;
  left: 0;
  top: 0;
}
.thumb-slider .thumb-icon-large {
  position: absolute;
  right: 0;
  top: 0;
}
.thumb-slider .smallLabel {
  position: absolute;
  top: 8px;
  right: 30px;
  left: 30px;
  margin: 0;
  text-align: center;
}
.thumb-slider .thumb-icon-large svg,
.thumb-slider .thumb-icon-small svg {
  width: 28px;
  height: 28px;
}
.thumb-slider .thumb-icon-large svg g,
.thumb-slider .thumb-icon-small svg g {
  transition: all 0.2s ease-out;
  fill: #999;
}
.thumb-slider md-slider,
.thumb-slider md-slider.md-default-theme {
  position: absolute;
  right: 0;
  top: 36%;
  left: 0;
}
.thumb-slider md-slider .md-track-container,
.thumb-slider md-slider.md-default-theme .md-track-container {
  height: 1px;
}
.thumb-slider md-slider .md-track,
.thumb-slider md-slider.md-default-theme .md-track {
  background-color: rgba(0, 0, 0, 0.2);
}
.thumb-slider md-slider .md-thumb:after,
.thumb-slider md-slider.md-default-theme .md-thumb:after {
  background-color: #b4b4b4;
  border-color: #b4b4b4;
}
.thumb-slider md-slider .md-focus-ring,
.thumb-slider md-slider.md-default-theme .md-focus-ring {
  background-color: rgba(0, 0, 0, 0.2);
}
.thumb-slider .md-slider-wrapper .md-thumb {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}
.thumb-slider md-slider:not([md-discrete]):not([disabled]) .md-slider-wrapper .md-thumb:hover,
.thumb-slider md-slider:not([md-discrete]):not([disabled]).md-active .md-slider-wrapper .md-thumb,
.thumb-slider md-slider:not([md-discrete]):not([disabled]).md-active .md-slider-wrapper .md-thumb:hover {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
/* Library media type filter */
.media-type-filter {
  margin: 0 6%;
}
.media-type-filter .smallLabel {
  margin: 0 12px 0 0;
}
.media-type-filter md-icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
}
.media-type-filter md-icon svg g {
  fill: #A5A5A5;
}
.media-type-filter md-checkbox {
  margin-bottom: 0;
  min-width: 16px;
  min-height: 16px;
}
.media-type-filter md-checkbox .md-container,
.media-type-filter md-checkbox .md-icon {
  width: 16px;
  height: 16px;
  border-width: 1px;
}
.media-type-filter md-checkbox .md-label {
  margin-left: 26px;
}
/* Library paginator */
.library-paginator {
  width: 30%;
}
.library-paginator ul {
  padding-top: 0;
  margin-top: 0;
}
