@import "mediaSelector.less";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

@white-color: #fff;
@list-media-background: #2e2e2e;
@primary-color: #2196f3;
@red-s: #fde1df;
@red-xxl: #f44336;
@purple: #9c27b0;
@orange: #ff9800;
@light-green: #8bc34a;
@green-s: #c7e7c8;
@green: #4caf50;
@blue-link: #3f51b5;
@gray-ss: #fafafa;
@gray-s: #e1e1e1;
@gray-m: rgba(0, 0, 0, 0.2);
@gray-l: rgba(0, 0, 0, 0.55);
@gray-xl: #636262;
@gray-xxl: #333;
@white-gray: #5c5c5c;
@yellow-light: rgba(255, 255, 0, 0.25);
@fontweight-l: 600;
@fontweight-xl: 700;
@fontsize-s: 14px;
@fontsize-m: 15px;
@fontsize-l: 16px;
@fontsize-xl: 17px;
@fontsize-xxl: 20px;
@fontsize-xxxl: 30px;
@fontsize-xxxxl: 75px;
.drop-box {
  background: transparent;
  border: 5px dashed @gray-s;
  width: 100%;
  height: 50vh;
  text-align: center;
  position: relative;
  margin-top: 20px;
  span {
    color: @gray-m;
    font-size: @fontsize-xxxl;
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    a {
      color: @gray-xl;
      padding: 0 8px;
      font-weight: bold;
      border-radius: 3px;
      border: 2px solid @gray-xl;
    }
  }
}
#openLibrary {
  .instructions {
    width: 100%;
    padding: 10px;
    color: @gray-l;
    font-size: 200%;
    text-align: center;
    border-radius: 3px;
    border: 3px dashed @gray-m;
  }
}
.mediaLibraryContent {
  background: @list-media-background;
  border-radius: 3px;
  padding: 1em;
  ul {
    li {
      width: 15%;
    }
  }
  .library-header {
    height: 40px;
    box-shadow: 0 1px rgba(214, 211, 211, 0.4);
    p {
      display: inline-block;
      color: @white-color;
    }
    .title{
      font-weight: bold;
    }
    .instructions{
      float: right;
    }
  }
  .library-content {
    margin-top: 1em;
    stratus-search {
      margin-bottom: 0.5em;
    }
    .medias {
      max-width: 900px;
      margin: 2em auto;
      column-width: 200px;
      box-shadow: 0 1px rgba(214, 211, 211, 0.4);
      .media-item {
        display: inline-block;
        margin-bottom: 0.4em;
        position: relative;
        img {
          object-fit: cover;
          width: 100%; height: auto;
          box-shadow: 0 1px 1px rgba(214, 211, 211, 0.4);
          opacity: 1;
          transition: 0.5s ease;
          backface-visibility: hidden;
        }
        .middle-details {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          transition: 0.5s ease;
          -ms-transform: translate(-50%, -50%); /* IE 9 */
          -webkit-transform: translate(-50%, -50%); /* Safari */
          transform: translate(-50%, -50%);
          text-align: center;
          .name p{
            font-weight: bold;
            color: whitesmoke;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .time p{
            color: whitesmoke;
            font-size: 14px;
          }
          .controls {
            .fa {
              cursor: pointer;
              width: 40px;
              height: 40px;
              line-height: inherit !important;
              background: #e6e5e561;
            }
            .fa-info-circle {
              color: @white-color;
            }
            .fa-trash-o {
              color: @white-color;
            }
          }
        }
      }
      .media-item:hover {
        background-color: black;
      }
      .media-item:hover img {
        opacity: 0.4;
      }
      .media-item:hover .middle-details {
        opacity: 1;
      }
    }

    @media screen and (max-width: 750px) {
      .medias { column-gap: 0; }
      .medias .media-item  { width: 100%; }
    }
  }
  .library-footer {
    height: 40px;
    display: block;
    position: relative;
  }
  .nav-button {
    display: block;
    position: relative;
    stratus-pagination {
      position: absolute;
      right: 2px;
      top: 3px;
      .paginator {
        padding-top: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        text-align: center;
        .paginatorPrevious a,
        .paginatorNext a,
        .paginatorPages a {
          color: white !important;
        }
        .paginatorProgress {
          md-progress-circular {
            width: 20px !important;
            height: 20px !important;
            svg {
              width: 100% !important;
              height: 100% !important;
              transform-origin: unset !important;
            }
          }
        }
      }
    }
  }
}
.md-dialog-container {
  z-index: 999;
}
.drag-drop-dialog {
  min-width: 1000px;
  .dropContainer {
    max-width: unset;
    ul {
      .droppedItem {
        width: 20%;
        .errorMessage {
          position: relative;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        .image--cn {
          .image {
            height: 100%;
            position: relative;
            background-color: @white-gray;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
            .hoverItems {
              display: none;
              margin-top: 0;
              width: auto;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              position: absolute;
              background-color: fade(@white-color, 30%);
              .fa-times-circle {
                font-size: 60px;
                color: @red-xxl;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
              }
            }
            &:hover {
              .hoverItems {
                display: inherit;
              }
            }
          }
        }
      }
    }
  }
}
