<div class="media-details mediaInfoFull mediaDialogue backgroundDark clearfix borderRadiusDefault" role="dialog">

  <button type="button" class="btnClose" href="javascript:;" ng-click="$ctrl.done()">
    <span class="sr-only">Toggle Navigation</span>
    <md-icon md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/close.svg" aria-hidden="true"></md-icon>
  </button>

  <div class="titleContainer clearfix">
    <div class="stGrid column50">
      <h2 ng-hide="$ctrl.selectedName.editing" ng-click="$ctrl.editItem($ctrl.selectedName)">{{ $ctrl.selectedName.name
        || 'No title' }}</h2>
      <input ng-show="$ctrl.selectedName.editing" ng-model="$ctrl.selectedName.name"
             ng-blur="$ctrl.doneEditing($ctrl.media.id, $ctrl.selectedName)" autofocus/>
    </div>
    <div class="tagContainer stGrid column50">
      <div id="tagContainer" ng-controller="Generic" data-target="Tag" ng-cloak data-direct="true">
        <stratus-tag  class="fontSecondary" ng-model="$ctrl.media.tags" collection="collection"></stratus-tag>
        <!--<md-chips ng-model="$ctrl.tags" name="tagModel" md-autocomplete-snap>-->
          <!--<md-chip-template>-->
            <!--<span md-highlight-text="$ctrl.query">{{ $chip.name }}</span>-->
          <!--</md-chip-template>-->
          <!--<md-autocomplete-->
              <!--flex md-min-length="0"-->
              <!--md-search-text="$ctrl.query"-->
              <!--md-items="model in collection.filter($ctrl.query)"-->
              <!--md-item-text="model.name || model.data.name"-->
              <!--md-floating-label="Add Tags"-->
              <!--placeholder="Add Tag">-->
            <!--<md-chip-template>-->
              <!--<span md-highlight-text="$ctrl.query">{{ model.name || model.data.name }}</span>-->
            <!--</md-chip-template>-->
            <!--<md-not-found>-->
              <!--<div ng-click="$ctrl.createTag($ctrl.query, $ctrl.media.id, $ctrl.media.tags);">-->
                  <!--create new tag for "{{ $ctrl.query }}" ?-->
              <!--</div>-->
            <!--</md-not-found>-->
          <!--</md-autocomplete>-->
        <!--</md-chips>-->
          <!--<stratus-tag  ></stratus-tag>-->

      </div>
    </div>
  </div>
  <div class="content clearfix" layout-wrap layout-gt-sm="row">
    <div flex-gt-sm="80" flex-order="1" flex-order-gt-sm="2">
      <div id="popupImage" class="infoFullImage">
        <div ng-if="$ctrl.media.mime == 'video' && !$ctrl.media.embed">
          <iframe width="560" height="315" ng-src="{{ $ctrl.mediaUrl }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div ng-if="$ctrl.media.mime == 'video' && $ctrl.media.embed" ng-bind-html="$ctrl.mediaUrl"></div>
        <i ng-if="$ctrl.media.mime == 'application/pdf'" class="fas fa-5x fa-file-pdf document" aria-hidden="true"></i>
        <i ng-if="$ctrl.media.mime == 'application/msword'" class="fas fa-5x fa-file-word document"
           aria-hidden="true"></i>
        <img ng-if="$ctrl.media.mime.indexOf('image') > -1" data-plugin="lazy" stratus-src="{{ $ctrl.mediaUrl }}"
             alt="{{ $ctrl.media.name }}">
      </div>
    </div>
    <div flex-gt-sm="20" flex-order="2" flex-order-gt-sm="1">
      <div class="popupInfo">
        <div class="actionBtns clearfix">
          <ul class="listUnstyled">
            <li href="#" ng-if="$ctrl.media.mime != 'video'">
              <a href="//{{ $ctrl.media.prefix }}.{{ $ctrl.media.extension }}" class="defaultBorderRadius">
                <md-tooltip>Download image</md-tooltip>
                <md-icon md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/download.svg" aria-hidden="true"></md-icon>
              </a>
            </li>
            <li>
              <a href="#" ng-click="$ctrl.getLinkMedia()" class="defaultBorderRadius">
                <md-tooltip>Share link</md-tooltip>
                <md-icon md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/linkage.svg" aria-hidden="true"></md-icon>
              </a>
            </li>
            <li>
              <a href="#" ng-click="$ctrl.deleteMedia()" class="defaultBorderRadius">
                <md-tooltip>Permanently delete image from library</md-tooltip>
                <md-icon
                      md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/delete.svg" aria-hidden="true"></md-icon>
              </a>
            </li>
            <li>
              <a href="#" ng-click="$ctrl.openUploader(false, $ctrl.media.id)" class="defaultBorderRadius">
                <md-tooltip>Replace file</md-tooltip>
                <md-icon md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/replace.svg" aria-hidden="true"></md-icon>
              </a>
            </li>
          </ul>
        </div>
        <div class="mediaSpecs">
          <p class="smallLabel" ng-bind="$ctrl.media.time * 1000 | date:'MMM dd, yyyy h:mma'"></p>
          <p class="smallLabel">Type: <span ng-bind="$ctrl.media.mime=='video' ? 'Video' : $ctrl.media.extension"></span></p>
          <p class="smallLabel" ng-if="$ctrl.media.bytesHuman && $ctrl.media.bytesHuman != 'Empty'">Size: <span ng-bind="$ctrl.media.bytesHuman"></span></p>
          <p class="smallLabel" ng-if="$ctrl.media.ratio">Ratio: <span ng-bind="$ctrl.media.ratio"></span></p>
          <p class="smallLabel" ng-if="$ctrl.media.service">Service: <span ng-bind="$ctrl.media.service"></span></p>
        </div>
        <div class="description" ng-if="!$ctrl.selectedDesc.editing" ng-click="$ctrl.editItem($ctrl.selectedDesc)">{{
          $ctrl.selectedDesc.description || 'No description' }}
        </div>
        <textarea rows="10" ng-if="$ctrl.selectedDesc.editing"
                  ng-model="$ctrl.selectedDesc.description"
                  ng-blur="$ctrl.doneEditing($ctrl.media.id, $ctrl.selectedDesc)" autofocus></textarea>
      </div>
    </div>
  </div>
</div>
