<div id="openLibrary" ng-show="libraryVisible">
  <div class="sectionContainer mediaLibrary borderRadiusDefault">
    <p class="instructions">
      To upload images to your library, drag &amp; drop or <a href="#" ngf-multiple="true" ngf-select="uploadToLibrary($files)">browse</a>
    </p>
    <p class="smallLabel">&nbsp;</p>
    <!-- show list media library -->
    <div class="mediaLibraryContent">
      <div class="library-content">
        <stratus-search></stratus-search>

        <div class="medias">
          <div ng-repeat="media in collection.models" class="media-item" ng-if="media.data.url">
            <img src="{{media.data.url}}">
            <div class="middle-details">
              <div class="name"><p>{{media.data.name | uppercase}}</p></div>
              <div class="time"><p>{{media.data.time | date: 'MMM dd, yyyy h:mma'}}</p></div>
              <div class="controls">
                <i class="fa fa-info-circle fa-2x" aria-hidden="true" ng-click="showDetails(media)"></i>
                <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="library-footer nav-button">
        <stratus-pagination></stratus-pagination>
      </div>
    </div>
    <!-- end show list media library -->
  </div>
</div>
