

li.library-toggle {
  padding: 0;
  a {
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    display: block;
    &:hover {
      border-color: rgba(0, 0, 0, 0.5);
      svg g {
        fill: #111;
      }
    }
    md-icon {
      height: inherit;
      min-width: inherit;
      min-height: inherit;
      width: 50%;
      svg g {
        transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
      }
    }
  }
}
