<ul ng-if="collection.meta && collection.meta.data.pagination.pageTotal > 1" class="list-inline paginator">
  <li ng-if="collection.paginate" class="paginator-progress">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </li>
  <li ng-show="startPage > 1" class="paginator-previous"
      ng-class="{disabled:collection.meta.data.pagination.pageCurrent == 1}">
    <a class="smallLabel" ng-click="collection.meta.data.pagination.pageCurrent == 1 || page(1)">First</a>
  </li>
  <li class="paginator-previous" ng-class="{disabled:collection.meta.data.pagination.pageCurrent == 1}">
    <a ng-click="collection.meta.data.pagination.pageCurrent == 1 || collection.page(collection.meta.data.pagination.pageCurrent - 1); scrollTop();">Previous</a>
  </li>
  <li class="paginator-pages" ng-repeat="page in pages"
      ng-class="{active:collection.meta.data.pagination.pageCurrent == page}">
    <a ng-click="collection.page(page); scrollTop();">{{ page }}</a>
  </li>
  <li class="paginator-next"
      ng-class="{disabled:collection.meta.data.pagination.pageCurrent == collection.meta.data.pagination.pageTotal}">
    <a ng-click="collection.meta.data.pagination.pageCurrent == collection.meta.data.pagination.pageTotal || collection.page(collection.meta.data.pagination.pageCurrent + 1); scrollTop();">
      Next
    </a>
  </li>
  <li class="paginator-next" ng-show="endPage < collection.meta.data.pagination.pageTotal"
      ng-class="{disabled:collection.meta.data.pagination.pageCurrent == collection.meta.data.pagination.pageTotal}">
    <a class="smallLabel" ng-click="collection.meta.data.pagination.pageCurrent == collection.meta.data.pagination.pageTotal || collection.page(collection.meta.data.pagination.pageTotal)">
      Last
    </a>
  </li>
</ul>
<!--<span class="paginator-total custom-font-secondary small-label">({{ collection.meta.data.pagination.countTotal }} Results)</span>-->
