.option-row {
  float: left;
  width: 100%;
  margin: 0 0 30px 0;
}

.select-options {
  float: left;
  margin: 0 1.6%;
  width: 30%;
}

ul.be-select {
  min-height: 35px;
  width: 100%;
  max-width: 325px;
  padding: 5px 0 0px 0;
  outline: 0;
}

ul.be-select li {
  padding: 5px 10px;
  z-index: 2;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  color: #000000;
}

ul.be-select li:not(.init) {
  float: left;
  width: 100%;
  display: none;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-top: none;
}

ul.be-select li:not(.init):hover, ul.be-select li.selected:not(.init) {
  background: #0099FF;
  color: #FFFFFF;
}

ul.be-select li.init {
  cursor: pointer;
  border-bottom: 2px #E7E7E7 solid;
  position: relative;
}

ul.be-select li.init:after {
  content: "\f0dd";
  position: absolute;
  right: 5px;
  font-size: 20px;
  color: #CCCCCC;
  font-family: FontAwesome;
}

a#submit {
  z-index: 1;
}

.select-inner-opt {
  display: inline-block;
  vertical-align: middle;
}

.select-inner-opt > img {
  width: 50px;
  height: 50px;
}

.option-text {
  display: inline-block;
  width: 65%;
  overflow: hidden;
  height: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 0 3%;
  vertical-align: middle;
}

.select-inner-opt input[type="checkbox"] {
  margin: 0;
  padding: 0;
  width: 16px;
  opacity: 0;
  height: 16px;
}

.select-inner-opt input[type="checkbox"] + span {
  background: url(/assets/1/0/bundles/sitetheorycore/images/visual/unchecked.jpg) no-repeat;
  width: 16px;
  height: 16px;
  margin: 0 0 0 -21px;
  display: inline-block;
}

.select-inner-opt input[type="checkbox"]:checked + span {
  background: url(/assets/1/0/bundles/sitetheorycore/images/visual/checked.jpg) no-repeat;
}

.select-options > ul {
  list-style-type: none;
}