<div class="option-row">
  <div class="select-options"
       ng-controller="Generic"
       data-raw="true"
       data-target="User"
       data-api='{"options":{"type":"collection"}}'
       ng-show="allowSelectUser">
    <md-autocomplete
            md-min-length="0"
            md-delay="500"
            md-menu-class="autocomplete-custom-template"
            md-search-text="query"
            md-items="item in identityQuery(collection, query)"
            md-selected-item-change="selectedUserRoleChange(item)"
            md-item-text="selectedIdentify(item)"
            md-no-cache="true"
            md-selected-item="updateUserRole"
            md-floating-label="User and Role *"
            placeholder="Choose an Identity">
      <md-item-template>
        <div layout="row" layout-wrap layout-align="space-between center">
          <div class="contact-item">
            <img src="http://pluspng.com/img-png/png-user-icon-male-user-icon-512.png" alt="">
          </div>
          <p class="md-contact-name" md-highlight-text="true" md-highlight-flags="i" flex="60">
            {{ item.bestName || item.name }}
          </p>
        </div>
      </md-item-template>

      <md-not-found>
        No matches found.
      </md-not-found>
    </md-autocomplete>
  </div>

  <div class="select-options"
       ng-controller="Generic"
       data-raw="true"
       data-target="Content"
       data-api='{"options":{"type":"collection"}}'>
    <md-autocomplete
            md-min-length="0"
            md-delay="500"
            md-menu-class="autocomplete-custom-template"
            md-search-text="query"
            md-items="item in contentQuery(collection, query)"
            md-selected-item-change="selectedContentChange(item)"
            md-item-text="selectedContent(item)"
            md-no-cache="true"
            md-selected-item="updateContent"
            md-floating-label="Content"
            placeholder="Choose an Identity">
      <md-item-template>
        <div layout="row" layout-align="space-between center">
          <div class="contact-item">
            <img ng-src="{{ item.version.images[0] ? 'http://' + item.version.images[0].prefix + '.' + item.version.images[0].extension : null }}" class="md-avatar"/>
          </div>
          <div >
            <p class="md-contact-name" md-highlight-text="true" md-highlight-flags="i">
              {{ item.version.title || item.name | limitTo:20 }}
            </p>
          </div>
        </div>
      </md-item-template>

      <md-not-found>
        No matches found.
      </md-not-found>
    </md-autocomplete>
  </div>

  <div class="select-options">
    <md-input-container>
      <label>Actions</label>
      <md-select ng-model="permissionSelected" ng-change="processSelectAction()" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple="">
        <md-select-header class="demo-select-header">
          <input ng-model="permissionSearchTerm" type="search" placeholder="Search for a action.." class="demo-header-searchbox md-text">
        </md-select-header>
        <md-optgroup label="vegetables">
          <md-option ng-value="permission.value" ng-repeat="permission in permissions" ng-selected="permissionSelected.indexOf(permission.value) != -1">{{permission.name}}</md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
  </div>
</div>
