<div ng-if="false" class="">
  <md-button aria-label="Publish" id="{{ elementId }}" class="btn btnPublishFull btnPublishNow"
             ng-click="setTimePublish()"
             ng-class="{published: version.isPublished == 1, unpublished: version.isPublished != 1}">\
    <div class="btnGradientLight"></div>
    <md-icon class="publishIconFull"
             md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/publishSprite.svg"></md-icon>
    <span class="publishText">Publish</span>
  </md-button>
  <md-menu ng-if="showMore">
    <div id="dropdownBtn-{{ elementId }}" class="btn btnPublishFull btnPublishMore">
      <div class="btnGradientLight"></div>
      <span class="caret"></span>
    </div>
    <md-menu-content class="btnPublishDropdown" aria-labelledby="dropdownBtn-{{ elementId }}">
      <!-- TODO: after converting to dateTime component make sure these options are not needed anymore-->
      <stratus-date-time ng-if="showDateTime"
                         ng-model="timePublish"
                         data-usecurrent="false"
                         data-defaultTimestamp="{{ timePublish || null }}"
                         data-style="widget"></stratus-date-time>
      <div ng-if="showUnpublish">
        <md-button class="action btnUnpublish" ng-click="setUnpublish()">Unpublish this Version</md-button>
      </div>
      <a ng-if="showRevisionHistory && version" class="btnVersionHistory"
         href="/Content/Versions/Edit?id={{ model.data.id }}&versionId={{ version.id }}">Revision History</a>
    </md-menu-content>
  </md-menu>
</div>

<!-- Full Publish Button with Calendar -->
<div ng-if="full && model.get(property)">
  <!-- datetimepicker="true" unpublish="true" versionHistory="true" -->
  <md-button id="headerControlsBtnPublishNow" class="mdButtonStrip btnPublishFull positionAnchor clearfix"
             ng-click="model.set(property + '.timePublish', 'API::NOW'); model.save()"
             ng-class="{published: model.get(property + '.isPublished') == 1, unpublished: model.get(property + '.isPublished') < 1, delayed: model.get(property + '.isPublished') == 2}">
    <div class="btnGradientLight"></div>
    <div class="btnIcon">
      <md-icon class="publishIconFull"
               md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/publishSprite.svg"></md-icon>
    </div>
    <div class="btnText fontPrimary">{{ model.get(property + '.isPublished') == 1 ? 'Published' : 'Publish' }}</div>
  </md-button>
  <md-menu>
    <a ng-click="$mdOpenMenu($event)" aria-label="Open interactions menu"
       ng-class="{published: model.get(property + '.isPublished') == 1, unpublished: model.get(property + '.isPublished') < 1, delayed: model.get(property + '.isPublished') == 2}"
       href="#" id="headerControlsPublishOptions" class="btnPublishFull positionAnchor">
      <div class="btnGradientLight"></div>
      <div class="caret"></div>
      <md-tooltip>Publish Options</md-tooltip>
    </a>
    <md-menu-content width="2">
      <md-menu-item ng-if="model.get(property + '.isPublished') < 1">
        <stratus-date-time ng-if="showDateTime" ng-model="timePublish" data-usecurrent="false"
                           data-defaultTimestamp="{{ timePublish || null }}" data-style="widget">
        </stratus-date-time>
      </md-menu-item>
      <md-menu-item ng-if="model.get(property + '.isPublished') > 0">
        <md-button ng-click="model.set(property + '.timePublish', null); model.save()">
          Unpublish
        </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button ng-href="/Content/Versions/Edit?id={{ model.data.id }}">
          Versions
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>

<!-- Publish Button Only -->

<md-button aria-label="publish" class="btn btnPublish" ng-if="!full && model.get(property)"
           ng-click="model.set(property + '.timePublish', 'API::NOW'); model.save()"
           ng-class="{published: model.get(property + '.isPublished') == 1, unpublished: model.get(property + '.isPublished') < 1, delayed: model.get(property + '.isPublished') == 2}">
  <md-icon class="btnIcon publishIcon"
           md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle:images/icons/actionButtons/publish.svg"></md-icon>
  <md-tooltip ng-if="model.get(property + '.isPublished') < 1">Publish</md-tooltip>
  <md-tooltip ng-if="model.get(property + '.isPublished') == 1">Already published</md-tooltip>
  <md-tooltip ng-if="model.get(property + '.isPublished') == 2">Publishing delayed</md-tooltip>
</md-button>