.btnPublish,
.btnPublishFull {
  transition: all 0.12s ease-out;
  transform: translateX(22px);
  background: #FF5B3A;
}
.btnPublish svg g,
.btnPublishFull svg g {
  fill: #FFFFFF;
}
.btnPublish:hover,
.btnPublishFull:hover {
  background: #FF7150;
}
#headerControlsPublish {
  margin-left: -12px;
}
#headerControlsBtnPublishNow .btnIcon {
  float: left;
  padding: 16px 0 0 20px;
}
#headerControlsBtnPublishNow .btnText {
  float: left;
  padding: 18px 20px 18px 10px;
  color: #FFFFFF;
  line-height: 1.4;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.04em;
}
#headerControlsPublishOptions {
  padding: 19px 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
#headerControlsPublishOptions .caret {
  border-top-color: #FFFFFF;
}
.btn.btnPublishFull {
  padding: 14px 20px 0 20px !important;
  width: inherit;
  height: 55px;
  color: #fff;
  font-size: 14px;
  background: #ff5b3a;
}
.btn.btnPublishFull svg {
  position: relative;
  margin-right: 8px;
  width: 28px;
  vertical-align: middle;
}
.btn.btnPublishFull svg .actionButton {
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  fill: #fff;
}
.btn.btnPublishFull:hover {
  background: #ff7550;
}
/* Published */
.published.btnPublishFull svg .actionButton {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}
.published.md-button.btnPublishFull:not([disabled]),
.published.btnPublishFull:not([disabled]) {
  background: #56995e;
}
.published.md-button.btnPublishFull:not([disabled]):hover,
.published.btnPublishFull:not([disabled]):hover {
  background: #7cb27d;
}
/* Unpublished */
.unpublished.md-button.btnPublishFull,
.unpublished.btnPublishFull {
  background: #FF5B3A;
}
.unpublished.md-button.btnPublishFull:not([disabled]):hover,
.unpublished.btnPublishFull:not([disabled]):hover {
  background: #ff7b55;
}
/* Delayed */
.delayed.md-button.btnPublishFull,
.delayed.btnPublishFull {
  background: #734564;
}
.delayed.md-button.btnPublishFull:not([disabled]):hover,
.delayed.btnPublishFull:not([disabled]):hover {
  background: #a47594;
}
.delayed.btnPublishFull svg .actionButton {
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.btnPublishFull:hover .publishIconFull svg,
.published.btnPublishFull:hover .publishIconFull svg,
.delayed.btnPublishFull:hover .publishIconFull svg {
  animation: btnIconGrow 0.3s ease-out both;
  -webkit-animation: btnIconGrow 0.3s ease-out both;
}
.btn.btnPublishDropdown {
  width: 245px;
  padding: 15px;
}
/* hide unpublish button if not published */
/**
.btn.unpublished [data-action="unpublish"] {
  display: none;
}
/**/
.btn.btnPublishMore {
  padding: 17px 13px 0 13px !important;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
#header .btnPublishFull .caret {
  opacity: 0.7;
  border-width: 5px;
  border-top-color: #fff;
}
#header .btnPublishFull:hover .caret {
  opacity: 1;
}
#headerControlsBtnPublishNow,
#headerControlsPublishOptions {
  float: left;
}
.btnPublish {
  transition: all 0.12s ease-out;
  height: inherit;
  width: inherit;
  background: #FF5B3A;
}
.btnPublish svg g,
.btnPublishFull svg g {
  fill: #FFFFFF;
}
.btnPublish:hover {
  background: #FF7150;
}
#headerControlsBtnPublishNow .btnIcon {
  float: left;
  padding: 16px 0 0 20px;
}
#headerControlsBtnPublishNow .btnText {
  float: left;
  padding: 18px 20px 18px 10px;
  color: #FFFFFF;
  line-height: 1.4;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.04em;
}
#headerControlsPublishOptions {
  padding: 19px 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
#headerControlsPublishOptions .caret {
  border-top-color: #FFFFFF;
}
