.btnPublish,
.btnPublishFull {
  transition: all 0.12s ease-out;
  background: #ff5b3a;
}
.btnPublish svg g,
.btnPublishFull svg g {
  fill: #fff;
}
.btnPublish:hover,
.btnPublishFull:hover {
  background: #ff7150;
}
/* Removed angular md-button styling */
.btnPublishFull {
  margin: 0;
  padding: 0;
  min-width: inherit;
  min-height: inherit;
  line-height: inherit;
  border-radius: 0;
}
.btnPublishFull:hover svg {
  animation: btnIconGrow 0.3s ease-out both;
  -webkit-animation: btnIconGrow 0.3s ease-out both;
}
/* TWO-PART HEADER PUBLISH BUTTON */
#headerControlsPublish {
  transform: translateX(22px);
  margin-left: -12px;
}
/* Part 1 Publish now */
#headerControlsBtnPublishNow {
  float: left;
}
#headerControlsBtnPublishNow .btnIcon {
  float: left;
  padding: 16px 0 0 20px;
}
#headerControlsBtnPublishNow .btnText {
  float: left;
  padding: 18px 20px 18px 10px;
  color: #fff;
  line-height: 1.4;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.04em;
}
/* Part 2 Other publishing options */
#headerControlsPublishOptions {
  float: left;
}
#headerControlsPublishOptions {
  padding: 19px 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
#headerControlsPublishOptions .caret {
  opacity: 0.7;
  border-width: 5px;
  border-top-color: #fff;
}
#headerControlsPublishOptions:hover .caret {
  opacity: 1;
}
/* MOVE SVG SPRITE TO DISPLAY CORRECT ICON */
.published.btnPublishFull svg .actionButton {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}
.delayed.btnPublishFull svg .actionButton {
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
/* CHANGE COLORS TO REFLECT PUBLISHING STATUS */
.published.md-button.btnPublishFull:not([disabled]),
.published.btnPublishFull:not([disabled]) {
  background: #56995e;
}
.published.md-button.btnPublishFull:not([disabled]):hover,
.published.btnPublishFull:not([disabled]):hover {
  background: #7cb27d;
}
/* Unpublished */
.unpublished.md-button.btnPublishFull,
.unpublished.btnPublishFull {
  background: #ff5b3a;
}
.unpublished.md-button.btnPublishFull:not([disabled]):hover,
.unpublished.btnPublishFull:not([disabled]):hover {
  background: #ff7b55;
}
/* Delayed */
.delayed.md-button.btnPublishFull,
.delayed.btnPublishFull {
  background: #734564;
}
.delayed.md-button.btnPublishFull:not([disabled]):hover,
.delayed.btnPublishFull:not([disabled]):hover {
  background: #a47594;
}
