<!-- TODO: INTEGRATE sort, Order, Limit and Advanced Search Help into search.html, below exists just for reference -->
<!-- Filter Display Options, e.g. Sort, Order, Limit -->
<div id="filter-display" class="form-group">
  {% if (typeof meta.sort !== 'undefined') { %}
  <select id="filter-sort" name="qs" class="form-control">
    <option value="">Sort</option>
    {% _.each(meta.sort, function(sort) { %}
    <option value="{{ sort.value }}" selected>{{ sort.prompt }}</option>
    {% }); %}
  </select>
  {% } %}
  {% if (typeof meta.sortOrder !== 'undefined') { %}
  <select id="filter-sort-order" name="qso" class="form-control">
    {% _.each(meta.sortOrder, function(order) { %}
    <option value="{{ order.value }}" selected>{{ order.prompt }}</option>
    {% }); %}
  </select>
  {% } %}
  {% if (typeof meta.limit !== 'undefined') { %}
  <select id="filter-limit" name="ql" class="form-control">
    <option value="">Limit</option>
    <!-- Add the current limit request to options if not in list -->
    {% var selectedLimit = null; %}
    {% _.each(meta.limit, function(limit) { %}
    <option value="{{ limit.value }}" selected>{{ limit.prompt }}</option>
    {% }); %}
    {% if (selectedLimit === null) { %}
    <option value="{{ meta.limit }}" selected>
      ({{ meta.limit }})
    </option>
    {% } %}
  </select>
  {% } %}
</div>

<!-- Advanced Search Help -->
<div id="btn-filter-advanced" onclick="document.getElementById('filterAdvancedHelp').classList.toggle('hide');">
  Advanced
</div>
<div id="filter-advanced-help" class="slide slide-y hide">
  <h3 class="title">What Is Advanced Filtering?</h3>

  <p class="help">
    Advanced filtering allows you to search more precisely by specifying the field, a comparison
    operator, and the value, e.g. title:Make It Happen (finds records where title "contains" the string "Make it
    Happen").
  </p>

  <h3 class="title">Comparison Options</h3>

  <div class="table-responsive">
    <table id="filter-advanced-comparison" class="table table-striped table-condensed">
      <thead>
      <tr>
        <th>Comparison</th>
        <th>Operator</th>
        <th>Explanation</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="title-inline">Contains</td>
        <td class="operator">[:], [!:], [LIKE] or [NOT LIKE]</td>
        <td class="details">
          The field contains the search string,
          e.g. <span class="example">title:Make It Happen</span>
        </td>
      </tr>
      <tr>
        <td class="title-inline">Equals</td>
        <td class="operator">[=] or [!=]</td>
        <td class="details">
          The field equals or does not equal the search string,
          e.g. <span class="example">url=/Make-It-Happen</span>
        </td>
      </tr>
      <tr>
        <td class="title-inline">Greater or Lesser Than</td>
        <td class="operator">[&gt;] or [&lt;]</td>
        <td class="details">
          The field is greater or lesser than the numeric or date value,
          e.g. <span class="example">modified&gt;2014-10-14</span>
        </td>
      </tr>
      <tr>
        <td class="title-inline">Regular Expression</td>
        <td class="operator">[?], [!?], [REGEXP] or [NOT REGEXP]</td>
        <td class="details">
          The field matches or doesn't match the advanced <a
                href="http://www.regular-expressions.info/quickstart.html" target="_blank">Regular
          Expressions</a> that are supported by MySQL,
          e.g. <span class="example">content[?]This is (good|great)</span>
        </td>
      </tr>
      <tr>
        <td class="title-inline">In List</td>
        <td class="operator">[#], [!#], [IN] or [NOT IN]</td>
        <td class="details">
          The field contains one of the values in the comma separated list,
          e.g. <span class="example">id[#]100,105,125</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <h3 class="title">Valid Fields</h3>

  <div class="table-responsive">
    <table id="filter-advanced-fields" class="table table-striped table-condensed">
      <thead>
      <tr>
        <th>Field Alias</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      {% if (typeof meta.searchable !== "undefined" && _.size(meta.searchable) > 0) { %}
      {% _.each(meta.searchable, function(description, alias) { %}
      <tr>
        <td class="title-inline">{{ alias }}</td>
        <td class="details">{{ description }}</td>
      </tr>
      {% }); %}
      {% } %}
      </tbody>
    </table>
  </div>

</div>