.search {
  position: relative;
  display: table;
  width: 100%;
}
.search input {
  padding: 15px 30px 14px 58px;
  color: black;
  width: 100%;
  font-size: 15px;
}
.search input:focus {
  border: 1px solid #4d90fe;
}

/* Remove IE10's “clear field” X button */
.search input::-ms-clear {
  display: none;
}
.search md-icon {
  transition: all 0.2s ease-out;
  position: absolute;
}
.search .left-icon:hover {
  opacity: 0.6;
}
.search md-icon g {
  fill: rgba(0, 0, 0, 0.8);
}
.search .left-icon {
  top: 11px;
  left: 12px;
  padding-right: 8px;
  width: 32px;
  height: 26px;
  min-width: 32px;
  min-height: 26px;
  border-right: 1px solid rgba(33, 33, 33, 0.4);
}
.search .right-icon {
  top: 0;
  right: 0;
  padding: 13px;
  cursor: pointer;
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  background: #222;
}
.search .right-icon:hover {
  background: #555;
}
.search .right-icon g {
  fill: #fff;
}
.search .fa-times {
  color: #999;
}

@media (max-width: 959px) {
  .search input {
    padding-left: 46px;
  }
  .search .left-icon {
    padding-right: 0;
    width: 26px;
    min-width: 26px;
    border-right: none;
  }
  .search .right-icon {
    display: none;
  }
}
