.search {
  position: relative;
  display: table;
  width: 100%;
}

.search input {
  padding: 10px 30px 10px 31px;
  border: 1px solid #CCCCCC;
  color: black;
  font-family: arial, sans-serif;
  font-size: 16px;
  width: 100%;
}

.search input:focus {
  border: 1px solid #4D90FE;
}

/* Remove IE10's “clear field” X button */
.search input::-ms-clear {
  display: none;
}

.search .left-icon {
  position: absolute;
  left: 10px;
  top: 11px;
}

.search .right-icon {
  position: absolute;
  right: 10px;
  top: 11px;
  cursor: pointer;
}

.search .active {
  color: #555555;
}

.search .fa {
  color: #444444;
  font-size: 16px;
}

.search .fa-times {
  color: #999999;
}