<ul ng-if="model && property && model.get(property)" style="list-style-type: none;">
    <li ng-repeat="selected in model.get(property)" style="float: left; padding: 5px;" ng-transclude="selection">{{ selected }}</li>
</ul>
<stratus-search></stratus-search>
<md-button ng-if="collection && model && property" ng-repeat="option in collection.models" class="md-raised"
           aria-label="{{ option.data.name }}" ng-class="{ 'md-accent': model.exists(property, option.data.id) }"
           ng-click="model.toggle(property, option.data.id, toggleOptions)">
    <span ng-if="option.data.mime && option.data.mime.indexOf('image') == 0" ng-transclude="image">
        <img ng-src="{{ option.data.url }}"/>
    </span>
    <span ng-if="!option.data.mime || option.data.mime.indexOf('image') != 0" ng-transclude="label">
        {{ option.data.name || option.data.title || 'Unknown' }}
    </span>
    <md-tooltip>
        <span ng-transclude="label">{{ option.data.name || option.data.title || 'Unknown' }}</span>
    </md-tooltip>
</md-button>
<stratus-pagination></stratus-pagination>