<div  ng-init="$ctrl.constructor()" class="signle-sign-on">
  <button type="button" name="button" ng-click="$ctrl.FBLogin()">Hello</button>
  <i class="fa fa-facebook-official fa-3x" aria-hidden="true" ng-click="$ctrl.FBLogin()"></i>
  <i class="fa fa-google-plus-official fa-3x" aria-hidden="true" ng-click="$ctrl.FBLogin()" ></i>
  <i class="fa fa-github fa-3x" aria-hidden="true" ng-click="$ctrl.GithubLogin()"></i>
  <i class="fa fa-twitter-square fa-3x" aria-hidden="true" ng-click="$ctrl.TwitterLogin()"></i>
</div>
<div class="g-signin2" data-onsuccess="GGLogin"></div>
