<div class="social-signin">
    <ul class="social list-inline">
        <li>
            <div class="btn-social use-facebook border-radius-default">
                <div class="social-hover"></div>
                <md-icon class="position-center" md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle/Resources/public/images/icons/social/facebook.svg">
                </md-icon>
                <div class="fb-login-button"
                     data-max-rows="1" data-size="large"
                     data-button-type="continue_with"
                     data-show-faces="false"
                     data-use-continue-as="false"
                     class="custom-fb-sign-in"
                     data-scope="public_profile,email"
                     data-auto-logout-link="true"
                     onlogin="checkLoginState();">
                </div>
                <md-button ng-if="$ctrl.ngModel && $ctrl.ngModel.facebookId" class="md-fab md-mini md-primary"
                           ng-click="removeFacebook()" aria-label="Disconnect">
                    <md-tooltip>Disconnect</md-tooltip>
                    <md-icon md-font-icon="fa-circle" class="far fa-trash-alt"></md-icon>
                </md-button>
            </div>

        </li>
        <li>
            <div class="btn-social use-google border-radius-default">
                <div class="social-hover"></div>
                <md-icon class="position-center" md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle/Resources/public/images/icons/social/google.svg">
                </md-icon>
                <i class="g-signin2" data-onsuccess="onSignIn"></i>
                <md-button ng-if="$ctrl.ngModel && $ctrl.ngModel.googleId" class=""
                           ng-click="removeGoogle()" aria-label="Disconnect">
                    <md-tooltip>Disconnect</md-tooltip>
                    <md-icon md-font-icon="fa-circle" class="far fa-trash-alt"></md-icon>
                </md-button>
            </div>
        </li>
    </ul>
</div>
