<div class="social-signin">


  <ul class="listInline">
    <li>
      <div  class="fb-login-button"
            data-max-rows="1" data-size="large"
            data-show-faces="false"
            data-use-continue-as="false"
            class="customFbSignIn"
            data-scope="public_profile,email"
            onlogin="checkLoginState();">

      </div>
    </li>
    <li>
      <i class="g-signin2" data-onsuccess="onSignIn"></i>
    </li>
  </ul>

  <!-- TODO: Use this list instead and clean out any css for fontawesome in the singleSignOn.css. Also Firefox is not loading the SVGs using the md-svg-src so that will need to be debugged. -->
  <ul class="listInline">
    <li>
      <div class="btn-social use-facebook easyTransition" data-onsuccess="onSignIn">
        <md-icon class="positionCenter" md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle/Resources/public/images/icons/social/facebook.svg">
        </md-icon>
      </div>
    </li>
    <li>
      <div class="btn-social use-google easyTransition" data-onsuccess="onSignIn">
        <md-icon class="positionCenter" md-svg-src="/Api/Resource?path=@SitetheoryCoreBundle/Resources/public/images/icons/social/google.svg">
        </md-icon>
      </div>
    </li>
  </ul>

</div>
