.abc-rio-button-light-blue {
  height: 40px !important;
  width: 40px !important;
}
.abc-rio-button-light-blue .abc-rio-button-content-wrapper .abc-rio-button-icon {
  text-align: -webkit-center !important;
  margin-top: 3px !important;
  float: none;
}
.fb-login-button.fb_iframe_widget span {
  width: 40px !important;
}
.fb-login-button.fb_iframe_widget iframe {
  max-width: 40px !important;
  height: 40px !important;
}
.btn-social {
  cursor: pointer;
  width: 52px;
  height: 52px;
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backface-visibility: hidden;
}
.btn-social svg,
.btn-social md-icon {
  width: 30px;
  height: 30px;
}
.btn-social svg g {
  fill: #fff;
}
.btn-social.use-facebook {
  background: linear-gradient(#4375bd, #3b5998);
  background: -webkit-linear-gradient(#4375bd, #3b5998);
}
.btn-social.use-google {
  background: linear-gradient(#77b368, #468d41);
  background: -webkit-linear-gradient(#77b368, #468d41);
}
.btn-social.use-facebook:hover,
.btn-social.use-google:hover {
  opacity: 0.8;
}
