@import "../bower_components/font-awesome/css/font-awesome.min.css";
.fa {
  cursor: pointer;
}
.fa-google-plus-official {
  color: #DC252C;
}
.fa-facebook-square {
  color: #385994;
}
.fa-twitter-square {
  color: #00AAE9;
}
.fa-github {
  color: #643151;
}
.useSocial .listInline {
  text-align: -webkit-center;
}
.abcRioButtonLightBlue {
  height: 40px !important;
  width: 40px !important;
  border-radius: 20px !important;
}
.abcRioButtonLightBlue .abcRioButtonContentWrapper .abcRioButtonIcon {
  text-align: -webkit-center !important;
  margin-top: 3px !important;
  float: none;
}
.fb-login-button.fb_iframe_widget span {
  width: 40px !important;
}
.fb-login-button.fb_iframe_widget iframe {
  max-width: 40px !important;
  height: 40px !important;
  border-radius: 20px !important;
}
