<!-- <div class="social-signin" layout="column" layout-align="space-around start"> -->
<div class="social-signin" layout="{{layout}}" layout-align="space-around start">
  <div class="social" layout="row" layout-align="space-around center">
    <div  class="fb-login-button"
    data-max-rows="1" data-size="large"
    data-button-type="continue_with"
    data-show-faces="false"
    data-use-continue-as="false"
    class="customFbSignIn"
    data-scope="public_profile,email"
    data-auto-logout-link="true"
    onlogin="checkLoginState();">
  </div>
  <md-button ng-if="$ctrl.ngModel && $ctrl.ngModel.facebookId" class="md-fab md-mini md-primary" ng-click="removeFacebook()" aria-label="Disconnect">
    <md-tooltip>Disconnect</md-tooltip>
    <md-icon md-font-icon="fa-circle" class="far fa-trash-alt"></md-icon>
  </md-button>
</div>

<div class="social" layout="row" layout-align="space-between center">
  <i class="g-signin2" data-onsuccess="onSignIn"></i>
  <md-button ng-if="$ctrl.ngModel && $ctrl.ngModel.googleId" class="md-fab md-mini md-primary" ng-click="removeGoogle()" aria-label="Disconnect">
    <md-tooltip>Disconnect</md-tooltip>
    <md-icon md-font-icon="fa-circle" class="far fa-trash-alt"></md-icon>
  </md-button>
</div>
</div>
