#excerpt {
  background: #222;
}
#excerpt .background-picture {
  padding-bottom: 2em;
  border-bottom: 1px solid #333;
  border-bottom-style: dashed;
}
#excerpt .layout-content {
  margin: 2em 0 2em 0;
}
#excerpt .layout-content .levels li {
  padding: 5px;
}
#excerpt .layout-content .levels li a {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
}
#excerpt .layout-content .border {
  padding-bottom: 2em;
  border-bottom: 1px solid #989898;
  border-bottom-style: dashed;
}
#excerpt .layout-content .details h1 {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #666;
  font-weight: 100;
}
#excerpt .layout-content .details .profile {
  margin: 2em 0 2em 0;
  padding-bottom: 2em;
}
#excerpt .layout-content .details .profile .profile-image img {
  width: 100%;
  object-fit: cover;
}
#excerpt .layout-content .details .profile .profile-inform {
  max-width: 45%;
}
#excerpt .layout-content .details .profile .profile-inform .title {
  text-align: center;
  margin-bottom: 2em;
}
#excerpt .layout-content .details .profile .profile-inform .title h2 {
  color: #fff;
  font-weight: 100;
}
#excerpt .layout-content .details .profile .profile-inform .title h4 {
  color: #fff;
}
#excerpt .layout-content .details .profile .profile-inform .contact {
  text-align: center;
}
#excerpt .layout-content .details .profile .profile-inform .contact a {
  display: block;
}
#excerpt .layout-content .details .article div p {
  color: #989494 !important;
}
#excerpt .layout-content .details .article div .profile-extra {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 25px;
  word-wrap: break-word;
}
