<md-chips ng-model="$ctrl.selectedChips" md-autocomplete-snap md-transform-chip=$ctrl.transformChip($chip) md-on-add="$ctrl.addToParent($chip)" md-on-remove="$ctrl.removeFromParent($chip)">
  <md-autocomplete flex md-min-length="1"
    md-items="model in $ctrl.searchData(query)"
    md-item-text="model.name"
    md-search-text="query"
    md-clear-button="true"
    md-select-on-match="true"
    placeholder="Click to add">
    <span md-highlight-text="query">{{model.name}}</span>
    <md-not-found>
      <div class="chip-not-found" >Enter to add new.</div>
    </md-not-found>
  </md-autocomplete>

  <md-chip-template>
    <span>
      <strong> {{ $chip}} </strong>
      <em ng-show="$index != null"> ({{ $index + 1 }}) </em>
    </span>
  </md-chip-template>
</md-chips>
