.theme-selector {
  color: #636262;
  overflow-y: hidden;
  font-weight: 600;
  background-color: whitesmoke;
}
.theme-selector #btn-primary.md-primary {
  color: #fff;
  margin: 0;
  padding: 3px 30px;
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  background-color: #2196f3;
}
.theme-selector h2 {
  text-transform: none;
}
.theme-selector .selectedLayout .imageContainer {
  width: 200px;
  height: 250px;
  background-color: #e1e1e1;
}
.theme-selector .selectedLayout .imageContainer img {
  height: 100%;
  object-fit: cover;
}
.theme-selector .selectedLayout .selectedInfo {
  min-height: 50px;
  margin-left: 20px;
}
.theme-selector .selectedLayout .selectedInfo .description {
  color: rgba(0, 0, 0, 0.2);
}
.theme-selector .list-theme .menus ul {
  padding-left: 0;
}
.theme-selector .list-theme .menus ul li {
  list-style-type: none;
  margin: 0.5em 0 0.5em 0;
}
.theme-selector .list-theme .templates .template {
  height: 200px;
  width: 330px;
  margin-bottom: 20px;
  margin-bottom: 3em;
  float: left;
}
.theme-selector .list-theme .templates .template:nth-child(odd) {
  margin-right: 1em;
}
.theme-selector .list-theme .templates .template .image {
  position: relative;
  margin-left: 0;
  margin-right: 1.5em;
  background-color: #e1e1e1;
}
.theme-selector .list-theme .templates .template .image:hover .overlay {
  bottom: 0;
  height: 100%;
  cursor: pointer;
}
.theme-selector .list-theme .templates .template .image img {
  height: 100%;
  object-fit: cover;
}
.theme-selector .list-theme .templates .template .image .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(99, 98, 98, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.theme-selector .list-theme .templates .template .image .overlay i {
  color: #fff;
  font-size: 30px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.theme-selector .list-theme .templates .template .content {
  position: relative;
}
.theme-selector .list-theme .templates .template .content .title h3 {
  display: inline-block;
}
.theme-selector .list-theme .templates .template .content .title a {
  float: right;
}
.theme-selector .list-theme .templates .template .content .title .favorite {
  color: #f44336;
}
.theme-selector .list-theme .templates .template .content .description p {
  color: rgba(0, 0, 0, 0.2);
}
.theme-selector .list-theme .templates .template .content .btn {
  position: absolute;
  bottom: 0;
}
.theme-selector .nav-button {
  display: block;
  position: relative;
}
.theme-selector .nav-button stratus-pagination {
  position: absolute;
  right: 2px;
  top: 3px;
}
.theme-selector .nav-button stratus-pagination .paginator {
  padding-top: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.theme-selector .nav-button stratus-pagination .paginator .paginatorProgress md-progress-circular {
  width: 20px !important;
  height: 20px !important;
}
.theme-selector .nav-button stratus-pagination .paginator .paginatorProgress md-progress-circular svg {
  width: 100% !important;
  height: 100% !important;
  transform-origin: unset !important;
}
#zoom-view .pannel-content {
  background: #fff;
  padding: 1em;
  min-width: 500px;
  min-height: 500px;
}
#zoom-view .pannel-content .ltpop-top .btn {
  margin-right: 10px;
}
#zoom-view .pannel-content .ltpop-bottom {
  text-align: center;
  margin-top: 1em;
}
#zoom-view .pannel-content .ltpop-bottom .theme-view-list {
  text-align: -webkit-left;
  margin-bottom: 0.5em;
}
#zoom-view .pannel-content .ltpop-bottom img {
  width: 500px;
  height: 500px;
}
#zoom-view .pannel-header {
  background: #006cc3;
  padding: 1em;
  padding-bottom: 0.5em;
}
#zoom-view .pannel-header h3 {
  color: #fff;
  display: inline-block;
}
#zoom-view .pannel-header i {
  color: #fff;
}
#zoom-view .pannel-header .favorite {
  color: #f44336;
}
#zoom-view .pannel-header .btnClose svg g,
#zoom-view .pannel-header .btnClose svg .oval {
  stroke: #fff;
}
#zoom-view .pannel-header .btnClose:hover svg g,
#zoom-view .pannel-header .btnClose:hover svg .oval {
  stroke: #fafafa;
}
/*Add by Raj for redesign theme list page*/

.sortcate .menus{
  width: 100%;
  float: left;
  border-bottom: 1px dashed #9a9a9a;
  margin-bottom: 20px;
  margin-top: 30px;
  padding-bottom: 15px;
  position: relative;
}
.sortcate .templates.flex{
  width: 100%;
  float: left;
}
.sortcate{
  display: initial!important;
}
.sorting {
  float: right;
  padding-right: 10px;
}
.sorting h2{
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
}
.sorting select{
  background: transparent;
  padding: 6px;
  border: none;
}

.categary{
  float: right;
  padding-left: 10px;
}
.categary h2{
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
}
.categary select{
  background: transparent;
  padding: 6px;
  border: none;
}
.sortcate .menus > input{
  padding: 6px;
  width: 220px;
  padding-left: 28px;
  background: transparent;
  border: 1px solid #ccc;
}
.searchPosition{
  position: absolute;
  left: 10px;
  top: 5px;
}
.searchPosition i{
  font-size: 13px;
  transform: rotate(90deg);
}
.theme-selector .list-theme .sortcate .templates .template {
  width: 370px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  float: none;
  padding: 0 10px;
}
.theme-selector .list-theme .sortcate .template:nth-child(odd) {
  margin-right: 0!important;
}
.theme-selector .list-theme .sortcate .templates .template .image img {
  width: 100%;
  border-radius: 6px;
}
.theme-selector .list-theme .sortcate .templates .template .image {
  text-align: center;
  border-radius: 6px;
  margin: 0;
  min-height: 325px;
  overflow: hidden;
}
.theme-selector .list-theme .sortcate .template .image .overlay a.btn {
  color: #fff;
  font-size: 13px;
  position: absolute;
  overflow: hidden;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.theme-selector .list-theme .sortcate .template .image .overlay i{
  top: 35%!important;
}
.theme-selector .list-theme .sortcate .template .content {
  padding-top: 20px;
}
.theme-selector .list-theme .sortcate .template .content .title h3 {
  display: block!important;
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.sortcate span.freeTags {
  float: right;
  border: 1px solid #ccc;
  padding: 2px 10px;
  font-size: 16px;
}
.theme-selector .list-theme .sortcate .template .content .description p {
  color: #333!important;
  font-size: 15px;
  font-weight: 300;
}

.selectLayout .stGrid {
  width: 48%;
}
.theme-selector .selectLayout .imageContainer {
  width: 100%!important;
  height: 250px;
  border-radius: 6px;
  overflow: hidden;
}
.theme-selector .selectLayout .imageContainer img {
  width: 100%;
  border-radius: 6px;
}
.selectLayout .backgroundDark {
  fill: transparent;
  background-color: transparent;
}
.theme-selector .list-theme .sortcate .template .content .title .favorite {
  border-left: 1px solid #ccc;
  padding-left: 10px;
}
/*css for redesign theme selector popup*/
#SitetheoryHostingBundle-DesignEdit-35208 .md-panel-outer-wrapper._md-panel-shown{
  z-index: 9999!important;
  background: #e8e8e8;
}
#SitetheoryHostingBundle-DesignEdit-35208 .md-panel-outer-wrapper._md-panel-shown .md-panel{
    width: 100%;
    top: -61px!important;
    z-index: 999999;
    position: relative;
    transform: initial!important;
    left: 0!important;
}
#zoom-view{
  width:100%;
  margin-top: 35px;
}
#zoom-view .pannel-content {
    background: #e8e8e8;
}
.desktop iframe{
    width:1000px;
    height:500px;
    border-radius: 8px;
    padding-top: 10px;
    background: #fff;
}
.tablet iframe{
    width:100%;
    height:500px;
}
.tablate-sound{
    width:768px;
    height:auto;
    position: relative;
    border-radius: 15px;
    padding: 20px 50px;
    background: #fff;
    margin: 0 auto;
}

span.tablate-fingure{
    background: #fff;
    width: 30px;
    height: 30px;
    margin: 10px 0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
    position: absolute;
    right: 11px;
    top: 50%;
    margin-top: -15px;
}
.mobile iframe{
    width:100%;
    height:470px;
}
.mobile-sound {
    width: 320px;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    background: #fff;
    margin: 0 auto;
}
span.mobile-sliten{
    background: #fff;
    width: 7px;
    height: 7px;
    margin:10px 0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
}
.mobile-speaker{
    background: #fff;
    width: 40px;
    height: 6px;
    margin:10px 0;
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
}
span.mobile-fingure{
    background: #fff;
    width: 30px;
    height: 30px;
    margin:10px 0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
}
#zoom-view .btnClose{
  float: none;
  width: 85px;
  font-size: 22px;
  vertical-align: bottom;
  display: inline-block;
  font-weight: 200;
  font-family: arial;
}
.theme-view-list{
  width: 50%;
  float: left;
}
.ltpop-top{
  width: 50%;
  float: right;
  text-align: right;
}
.header-popup{
  padding: 28px 0;
  margin-bottom: 30px;
}
.theme-view-list a i {
  font-size: 25px;
  padding: 0 15px;
}
.selected-frame i{
  color: #AAAAAA;
}