<div class="layout_bx theme-bx">
    <div class="lt-header">
        <h3><span><i class="fa fa-question" aria-hidden="true"></i></span> Theme</h3>
    </div><!-- Gallery header Ends -->
    <div class="lt_box">
        <div class="lt-image">
            <img src="/assets/1/0/bundles/sitetheorycore/images/visual/lt-left.jpg" alt="" />
        </div><!-- layout image ends -->
        <div class="lt-content">
            <h4>Fantome</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div><!-- Layout content Ends -->
    </div><!-- Layout box Inner ends -->
</div><!-- Layout Box Ends -->
<div class="theme-select">
    <div class="theme-select-nav">
        <h4>Categories</h4>
        <ul>
            <li><a href="#">Real Estate</a></li>
            <li><a href="#">Church</a></li>
            <li><a href="#">Small Business</a></li>
            <li><a href="#">Corporate</a></li>
            <li><a href="#">Artist</a></li>
            <li><a href="#">Health and Fitness</a></li>
        </ul>
        <h4>Sort By</h4>
        <ul>
            <li><a href="#">Latest</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">Favorite (2)</a></li>
        </ul>
    </div>
    <div class="theme-select-right">
        <ul>
            <li>
                <span class="galleryimg-cont"><img src="/assets/1/0/bundles/sitetheorycore/images/visual/lt-gallery.jpg" alt="" />
                    <a href="#" ng-click="zoomView()" class="sr_ico"><i class="fa fa-search" aria-hidden="true"></i></a>
                    <a href="#" class="bl_btn">Choose Theme </a>
                </span>
                <span class="theme-description">
                    <span class="theme-des-header">
                        <h4>Kurage</h4>
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </span><!-- Theme Description Header Ends -->
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <a href="#" class="bl_btn">Choose Theme </a>
                </span>
            </li>
            <li>
                <span class="galleryimg-cont"><img src="/assets/1/0/bundles/sitetheorycore/images/visual/lt-gallery.jpg" alt="" />
                    <a href="#" ng-click="zoomView()" class="sr_ico"><i class="fa fa-search" aria-hidden="true"></i></a>
                    <a href="#" class="bl_btn">Choose Theme </a>
                </span>
                <span class="theme-description">
                    <span class="theme-des-header">
                        <h4>Kurage</h4>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </span><!-- Theme Description Header Ends -->
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <a href="#" class="bl_btn">Choose Theme </a>
                </span>
            </li>
        </ul>
    </div><!-- Theme Select Right Ends -->
    <ul class="lt-pagination">
        <li><a href="#">PREV</a>
        <li><a href="#" class="active">1</a>
        <li><a href="#">2</a>
        <li><a href="#">3</a>
        <li><a href="#">4</a>
        <li><a href="#">5</a>
        <li><a href="#">NEXT</a>
    </ul>
</div><!-- Theme Selector Ends -->
<script type="text/ng-template" id="themeDetail.html">
    <!---Detail Page starts from here---------->
    <div role="dialog">
        <div class="lt-popup theme-preview">
            <div class="ltpop-left">
                <h3>Foo Layout Name
                    <i aria-hidden="true" class="fa fa-heart-o"></i>
                    <i aria-hidden="true" class="fa fa-heart"></i>
                </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <a href="#" class="bl_btn">Choose Theme </a>
                <a href="#" class="bl_btn_border">View Demo </a>
            </div>
            <div class="ltpop-right">
                <div class="theme-view-list">
                    <a href="#" class="active"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-desktop" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-tablet" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-mobile" aria-hidden="true"></i></a>
                </div><!-- View list Ends -->
                <a href="#">
                    <img src="/assets/1/0/bundles/sitetheorycore/images/visual/template.jpg" alt="" />
                </a>
            </div>
            <a href="#" class="lt-close" ng-click="closeDialog();">X</a>
        </div><!-- Layout popup ends -->
    </div>
</script>
