<div id="toppage"></div>
<div class="error" ng-if="$ctrl.errorMsg">
  <p>{{ $ctrl.errorMsg }}</p>
</div>
<md-content class="theme-selector">
  <div class="selectedLayout selectLayout clearfix">
    <div ng-if="$ctrl.selectedTheme" class="imageColumn stGrid stGridMobile">
      <div class="selectedImage positionAnchor backgroundDark">
        <div class="imageContainer defaultShadow easyTransition">
          <img stratus-src="{{ $ctrl.selectedTheme.images[0].url }}" alt=""/>
        </div>
        <div ng-if="selectedLayout" class="positionCenter">
          <a href="#" class="btn" ng-click="$ctrl.toggleGallery();">Change Theme</a>
        </div>
      </div>
    </div>
    <div class="selectedInfo infoColumn stGrid stGridTablet column50">
      <div ng-if="$ctrl.selectedTheme">
        <h4>You are currently using</h4>
        <h2>{{ $ctrl.selectedTheme.name }}</h2>
        <div class="description"
             ng-bind-html="$ctrl.themeRawDesc($ctrl.selectedTheme.description) | truncate:{limit:300}"></div>
        <a href="#" class="btn" ng-if="$ctrl.isNewTheme" ng-click="$ctrl.finishChoosingTheme($ctrl.selectedTheme)">Select
          this theme</a>
      </div>
      <a href="#" class="btn" ng-if="!$ctrl.isNewTheme" ng-click="$ctrl.toggleGallery();">Change Theme</a>
    </div>
  </div>
  <!--<hr>-->
  <div class="list-theme" ng-if="$ctrl.showGallery" layout="column">
    <div layout="row" class="sortcate">
      <div class="menus">
          <input ng-model="filter.key" name="search" placeholder="Search by theme name">
        <span class="searchPosition"><i class="fa fa-search"></i> </span>
        <div class="categary">
          <h2>Categories:</h2>
          <select ng-model="sortcategory"  ng-options="category as category.catName for category in $ctrl.categories "  ng-change="$ctrl.sortByCategory(sortcategory)"></select>
          <!--<select>-->
            <!--<option ng-repeat="category for category in $ctrl.categories" ng-model="sortcategory" ng-change="$ctrl.sortByCategory(sortcategory)">{{category}}</option>-->
          <!--</select>-->
          <!--<ul>-->
            <!--<li ng-repeat="category in $ctrl.categories track by $index">-->
              <!--<a class="point" ng-click="$ctrl.showCategory($index)">{{category}}</a>-->
            <!--</li>-->
          <!--</ul>-->
        </div>
        <div class="sorting">
          <h2>Sort By:</h2>
          <select ng-options="sortoption for sortoption in $ctrl.sortingoptions" ng-model="sort"  ng-change="$ctrl.sortBy(sort)">
          </select>
          <!--<ul>-->
            <!--<li><a href="#" ng-click="$ctrl.sortBy('latest')" class="point">Latest</a></li>-->
            <!--<li><a href="#" ng-click="$ctrl.sortBy('populate')" class="point">Populate</a></li>-->
            <!--<li><a href="#" ng-click="$ctrl.sortBy('favorite')" class="point">Favorites(0)</a></li>-->
          <!--</ul>-->
        </div>
      </div>
      <div class="templates">
        <div ng-if="collection.models[0].meta" ng-repeat="target in collection.models | filter: {data: {name: filter.key}}" class="template">
          <div class="image">
            <img stratus-src="{{ target.data.images[0].url }}" alt="">
            <div class="overlay">
              <i class="fa fa-search" aria-hidden="true" ng-click="$ctrl.zoomView(target)"></i>
              <a href="#toppage" class="btn" ng-click="$ctrl.chooseTheme(target.data);">Choose Theme</a>
            </div>
          </div>
          <div class="content">
            <div class="title">
              <h3>{{target.data.name}}
                <span class="freeTags">Free</span>
              </h3>
              <a href="#" ng-click="$ctrl.setFavorite(target.data.id)">
                <i ng-if="target.data.preferred" class="fa fa-heart favorite"></i>
              </a>
            </div>
            <div class="description"
                 ng-bind-html="$ctrl.themeRawDesc(target.data.description) | truncate:{limit:300}"></div>
          </div>
        </div>
          <div ng-if="!collection.models[0].meta" ng-repeat="target in collection.models |filter:filter.key" class="template">
              <div class="image">
              <img stratus-src="{{ target.images[0].url }}" alt="">
              <div class="overlay">
              <i class="fa fa-search" aria-hidden="true" ng-click="$ctrl.zoomView(target)"></i>
              <a href="#toppage" class="btn" ng-click="$ctrl.chooseTheme(target);">Choose Theme</a>
              </div>
              </div>
              <div class="content">
              <div class="title">
              <h3>{{target.name}}
              <span class="freeTags">Free</span>
              </h3>
              <a href="#" ng-click="$ctrl.setFavorite(target.id)">
              <i ng-if="target.preferred == 1" class="fa fa-heart favorite"></i>
              </a>
              </div>
              <div class="description"
              ng-bind-html="$ctrl.themeRawDesc(target.description) | truncate:{limit:300}"></div>
              </div>
          </div>
      </div>
        <span ng-if="collection.models[0].meta">
            <stratus-pagination></stratus-pagination>
        </span>
    </div>
      <!--<stratus-pagination></stratus-pagination>-->
  </div>
</md-content>
<script type="text/ng-template" id="themeDetail.html">
  <!-- Detail Page starts from here -->
  <div id="zoom-view" class="lt-popup theme-preview" role="dialog">
    <div class="pannel-header">
      <div class="">
        <h3>{{ themeDetail.name }}</h3>
        <a href="#" ng-click="$ctrl.setFavorite(themeDetail.id)"><i ng-if="themeDetail.preferred" class="fa fa-heart favorite"></i></a>
        <button type="button" class="btnClose" href="javascript:;" ng-click="closeDialog();">
          <span class="sr-only">Toggle Navigation</span>
          <svg viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="close-{{ id }}" fill="none" transform="translate(1.000000, 2.000000)">
              <g id="closeX" transform="translate(16.271267, 15.687500)" stroke-linecap="square" stroke="#666">
                <g id="lineLeft">
                  <path d="M1.63636364,0.5875 L16.3737342,16.4608762"></path>
                </g>
                <g id="lineRight">
                  <path d="M15.8181818,0.5875 L1.08081124,16.4608762"></path>
                </g>
              </g>
              <circle class="oval" stroke="#555" cx="24.7258128" cy="24" r="24"></circle>
            </g>
          </svg>
        </button>
      </div>
    </div>
    <div class="pannel-content">
      <div class="ltpop-top">
        <div class="name fontSecondary"
             ng-bind-html="$ctrl.themeRawDesc(themeDetail.description) | truncate:{limit:300}"></div>
        <a href="#" class="btn" ng-click="$ctrl.chooseTheme(themeDetail); closeDialog();">Choose Theme </a>
        <a href="#" class="btn">View Demo </a>
      </div>
      <div class="ltpop-bottom">
        <div class="theme-view-list">
          <a href="#" class="active"><i class="fas fa-play-circle" aria-hidden="true"></i></a>
          <a href="#"><i class="fas fa-desktop" aria-hidden="true"></i></a>
          <a href="#"><i class="fas fa-tablet-alt" aria-hidden="true"></i></a>
          <a href="#"><i class="fas fa-mobile-alt" aria-hidden="true"></i></a>
        </div><!-- View list Ends -->
        <a href="#">
          <img stratus-src="{{ '//' + themeDetail.images[0].file + '.' + themeDetail.images[0].extension }}" alt="">
        </a>
      </div>
    </div><!-- Layout popup ends -->
  </div>
</script>