.theme-selector {
  color: #636262;
  overflow-y: hidden;
  font-weight: 600;
  background-color: whitesmoke;
}
.theme-selector #btn-primary.md-primary {
  color: #fff;
  margin: 0;
  padding: 3px 30px;
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  background-color: #2196f3;
}
.theme-selector h2 {
  text-transform: none;
}
.theme-selector .selectedLayout .imageContainer {
  width: 200px;
  height: 250px;
  background-color: #e1e1e1;
}
.theme-selector .selectedLayout .imageContainer img {
  height: 100%;
  object-fit: cover;
}
.theme-selector .selectedLayout .selectedInfo {
  min-height: 50px;
  margin-left: 20px;
}
.theme-selector .selectedLayout .selectedInfo .description {
  color: rgba(0, 0, 0, 0.2);
}
.theme-selector .list-theme .menus ul {
  padding-left: 0;
}
.theme-selector .list-theme .menus ul li {
  list-style-type: none;
  margin: 0.5em 0 0.5em 0;
}
.theme-selector .list-theme .templates .template {
  height: 200px;
  width: 330px;
  margin-bottom: 20px;
  margin-bottom: 3em;
  float: left;
}
.theme-selector .list-theme .templates .template:nth-child(odd) {
  margin-right: 1em;
}
.theme-selector .list-theme .templates .template .image {
  position: relative;
  margin-left: 0;
  margin-right: 1.5em;
  background-color: #e1e1e1;
}
.theme-selector .list-theme .templates .template .image:hover .overlay {
  bottom: 0;
  height: 100%;
  cursor: pointer;
}
.theme-selector .list-theme .templates .template .image img {
  height: 100%;
  object-fit: cover;
}
.theme-selector .list-theme .templates .template .image .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(99, 98, 98, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.theme-selector .list-theme .templates .template .image .overlay i {
  color: #fff;
  font-size: 30px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.theme-selector .list-theme .templates .template .content {
  position: relative;
}
.theme-selector .list-theme .templates .template .content .title h3 {
  display: inline-block;
}
.theme-selector .list-theme .templates .template .content .title a {
  float: right;
}
.theme-selector .list-theme .templates .template .content .title .favorite {
  color: #f44336;
}
.theme-selector .list-theme .templates .template .content .description p {
  color: rgba(0, 0, 0, 0.2);
}
.theme-selector .list-theme .templates .template .content .btn {
  position: absolute;
  bottom: 0;
}
.theme-selector .nav-button {
  display: block;
  position: relative;
}
.theme-selector .nav-button stratus-pagination {
  position: absolute;
  right: 2px;
  top: 3px;
}
.theme-selector .nav-button stratus-pagination .paginator {
  padding-top: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.theme-selector .nav-button stratus-pagination .paginator .paginatorProgress md-progress-circular {
  width: 20px !important;
  height: 20px !important;
}
.theme-selector .nav-button stratus-pagination .paginator .paginatorProgress md-progress-circular svg {
  width: 100% !important;
  height: 100% !important;
  transform-origin: unset !important;
}
#zoom-view .pannel-content {
  background: #fff;
  padding: 1em;
  min-width: 500px;
  min-height: 500px;
}
#zoom-view .pannel-content .ltpop-top .btn {
  margin-right: 10px;
}
#zoom-view .pannel-content .ltpop-bottom {
  text-align: center;
  margin-top: 1em;
}
#zoom-view .pannel-content .ltpop-bottom .theme-view-list {
  text-align: -webkit-left;
  margin-bottom: 0.5em;
}
#zoom-view .pannel-content .ltpop-bottom img {
  width: 500px;
  height: 500px;
}
#zoom-view .pannel-header {
  background: #006cc3;
  padding: 1em;
  padding-bottom: 0.5em;
}
#zoom-view .pannel-header h3 {
  color: #fff;
  display: inline-block;
}
#zoom-view .pannel-header i {
  color: #fff;
}
#zoom-view .pannel-header .favorite {
  color: #f44336;
}
#zoom-view .pannel-header .btnClose svg g,
#zoom-view .pannel-header .btnClose svg .oval {
  stroke: #fff;
}
#zoom-view .pannel-header .btnClose:hover svg g,
#zoom-view .pannel-header .btnClose:hover svg .oval {
  stroke: #fafafa;
}
