#user-authentication {
  background-color: #FFFFFF;
  box-shadow: 0 5px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 100%;
  md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
  }
}
#user-authentication md-tabs md-tab-content {
  padding-top: 10px;
}

input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
  background-color: #ddd;
  :hover {
    -webkit-text-fill-color: black;
  }
  :focus {
    -webkit-text-fill-color: black !important;
  }
}


#user-authentication h1:first-child {
  margin-top: 0;
}

.md-block{
  margin-top: 20px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  h3{
    color: #636262;
  }
}

.md-raised{
  margin: auto;
}

.link-button{
  color: rgb(63,81,181);
  border: none;
  background: none;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  margin: 1em 0em 1em 0em;
}

.link-button:hover {
  background-color: none;
  cursor: pointer;
  border-bottom: 1px solid rgb(63,81,181););
  color: #FFF;
}

form{
  margin: 1em .5em 1em .5em;
}
