h3.optional-title {
  display: none;
  margin-top: 22px;
  text-align: center;
}
.user-authentication .show-error h3 {
  margin-bottom: 3px;
}
.user-authentication .show-error h4 {
  margin-top: 0;
}
.user-authentication .verify {
  margin-top: 50px;
  text-align: center;
}
.user-authentication md-tabs.hide-tab md-tabs-wrapper {
  display: none;
}
.user-authentication md-tabs md-tab-content {
  padding-top: 0;
}
.user-authentication md-tabs md-tab-content md-content {
  padding: 0;
  min-height: 250px;
}
.user-authentication md-tabs md-tab-content md-content .form-reset-pass .first-password {
  margin-top: 35px;
  margin-bottom: 35px;
}
.user-authentication form {
  margin: 25px;
}
.user-authentication .submit-column {
  text-align: center;
}
.user-authentication .btn.md-button {
  margin-top: 0;
  padding: 15px 20px;
  min-width: 180px;
}
.user-authentication .link-forgot {
  margin-top: 8px;
  text-align: center;
}
/* Social Sign-In */
.social-sign-in {
  margin-bottom: 2.5em;
  /* Social Sign-In Title */
  /* Social Sign-In Buttons */
}
.social-sign-in .social-title-table {
  margin: 10px 0 16px;
  width: 100%;
}
.social-sign-in .border-column {
  width: 40%;
}
.social-sign-in .use-social-label {
  margin: 0;
  padding: 0 12px;
  text-align: center;
  white-space: nowrap;
  color: #aaa;
}
.social-sign-in .label-border {
  height: 2px;
  border-top: 1px solid rgba(216, 216, 216, 0.6);
}
.social-sign-in ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.social-sign-in ul li {
  margin: 0 4px;
}
/* Small Area Sign In */
.sign-in-small {
  padding: 10px 0;
  width: 300px;
}
.sign-in-small .user-authentication form {
  margin: 16px 10% 0;
}
.sign-in-small .user-authentication md-input-container {
  margin: 6px 0;
}
.sign-in-small .user-authentication .btn.md-button {
  display: block;
  margin: 0;
  padding: 6px 0;
  width: 100%;
  font-size: 13px;
}
.sign-in-small .user-authentication .link-forgot {
  margin-top: 20px;
}
.sign-in-small .social-sign-in {
  margin: 0 10% 16px;
}
.sign-in-small .social-sign-in ul {
  padding: 0;
}
.sign-in-small .social-sign-in .social-title-table {
  margin-bottom: 16px;
}
