<div ng-cloak>
    <md-content id="user-authentication">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Sign In" class="sign-in" ng-click="$ctrl.showForgotPassForm(false)">
                <md-content class="md-padding">
                    <form class="form-sign-in" name="signInForm" ng-submit="signInForm.$valid && $ctrl.doSignIn(signinData)" ng-if="!$ctrl.enabledForgotPassForm">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email Address</label>
                            <input name="email" type="email" ng-model="signinData.email" required placeholder="Email Address" ng-pattern="$ctrl.emailRegex">
                            <ng-messages for="signInForm.email.$error" ng-if="signInForm.email.$dirty || signInForm.email.pattern">
                                <ng-message when="required">This is required!</ng-message>
                                <ng-message when="pattern">Please enter a valid email address.</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Password</label>
                            <input name="password" type="password" ng-model="signinData.password" ng-minlength="8" ng-maxlength="20" required placeholder="Password" ng-pattern="$ctrl.passwordRegex">
                            <ng-messages for="signInForm.password.$error" ng-if="signInForm.password.$dirty">
                                <ng-message when="required">This is required!</ng-message>
                                <ng-message when="minlength">Password must be longer than 8 characters</ng-message>
                                <ng-message when="maxlength">Password must be shorter than 20 characters</ng-message>
                                <ng-message when="pattern">Password must contain at least one lower and one uppercase letter and one number.</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <div class="center">
                            <md-button type="submit" class="md-raised" ng-disabled="signInForm.$invalid">Sign In</md-button>
                        </div>

                        <div class="center">
                            <label for="">-or-</label>
                        </div>

                        <div class="center">
                            <a class="md-primary link-button" ng-click="$ctrl.showForgotPassForm(true)" capitalize-first>{{ $ctrl.forgotPasstext }}</a>
                        </div>

                    </form>

                    <form class="form-forgot" name="forgotPassForm" ng-submit="forgotPassForm.$valid && $ctrl.doResetPass(resetPassData)" ng-if="$ctrl.enabledForgotPassForm">
                        <div class="center">
                            <h3>Password Reset Request</h3>
                        </div>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email Address</label>
                            <input name="email" type="email" ng-model="resetPassData.email" required placeholder="Email Address" ng-pattern="$ctrl.emailRegex">
                            <ng-messages for="forgotPassForm.email.$error" ng-if="forgotPassForm.email.$dirty || forgotPassForm.email.pattern">
                                <ng-message when="required">This is required!</ng-message>
                                <ng-message when="pattern">Please enter a valid email address.</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Recovery Phone</label>
                            <input name="phone" type="number" ng-model="resetPassData.phone" required placeholder="Recovery Phone">
                            <ng-messages for="forgotPassForm.phone.$error" ng-if="forgotPassForm.phone.$dirty">
                                <ng-message when="required">This is required!</ng-message>
                                <ng-message when="pattern">Please enter a valid phone number.</ng-message>
                            </ng-messages>
                        </md-input-container>
                        <div class="center">
                            <md-button type="submit" class="md-raised" ng-disabled="forgotPassForm.$invalid">Send Password Reset Link</md-button>
                        </div>

                        <div class="center">
                            <a class="md-primary link-button" ng-click="$ctrl.showForgotPassForm(false)" capitalize-first>{{ $ctrl.forgotPasstext }}</a>
                        </div>
                    </form>
                </md-content>
            </md-tab>

            <md-tab label="Create New Account" class="sign-up">
                <md-content class="md-padding">
                    <form name="registrationForm" ng-submit="registrationForm.$valid && $ctrl.doSignUp(signupData)">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email Address</label>
                            <input name="email" type="email" ng-model="signupData.email" required placeholder="Email Address" ng-pattern="$ctrl.emailRegex">
                            <ng-messages for="registrationForm.email.$error" ng-if="registrationForm.email.$dirty || registrationForm.email.pattern">
                                <ng-message when="required">This is required!</ng-message>
                                <ng-message when="pattern">Please enter a valid email address.</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Recovery Phone</label>
                            <input name="phone" type="number" ng-model="signupData.phone" required placeholder="Recovery Phone">
                            <ng-messages for="registrationForm.phone.$error" ng-if="registrationForm.phone.$dirty">
                                <ng-message when="required">This is required!</ng-message>
                                <ng-message when="pattern">Please enter a valid phone number that can be used for account recovery.</ng-message>
                            </ng-messages>
                        </md-input-container>
                        <div class="center">
                            <md-button type="submit" class="md-raised" ng-disabled="registrationForm.$invalid">Create New Account</md-button>
                        </div>
                    </form>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>