/* !importants can be removed when css has the right hierarchy. right now the selector css is outranked by the site.css which is outranked by the common.css */


#visualSelector hr {
    background: none;
    border-top: 1px solid #777;
}


/* Info areas */
.imageColumn {
    padding-right: 7%;
}
.imageColumn img {
    display: block;
}
.quickInfo {
    margin:  34px 0;
}
.description {
    margin-bottom: 40px;
}
@media (max-width:899px) {
    .imageColumn {
        padding-right: 0;
        max-width: 400px;
        margin: 0 auto 30px;
    }
}


/* Selected layout area */
.selectedLayout {
    margin-bottom: 60px;
}
.selectedImage .btn {
    display: block;
    transition: all .1s ease-out !important;
    transform: scale(.8);
    opacity: 0;
}
.selectedImage:hover .btn {
    transform: scale(1);
    opacity: 1;
}
.selectedImage:hover .imageContainer {
    opacity: .2;
}
.selectedLayout h2 {
    margin-top: 16px;
}
.selectedLayout h4 {
    margin-bottom: 0;
}



/* Info popup */
@media (min-width: 1000px) {
    .media-dialog {
        width: 900px;
    }
}
.popup {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 7%;
    background: rgba(255,255,255,.9);
    width: 100%;
}
.popup .btnClose {
    position: absolute;
    top: 20px;
    right: 20px;
}
.popup .smallLabel {
    font-size: 12px;
    margin-bottom: 16px;
}
.popup .btn {
    display: table;
    margin-top: 26px;
}
.btnChoose {
    margin-bottom: 34px !important;
}
.popupForm {
    margin-bottom: 8px;
    font-size: 13px;
}
.popupForm input {
    margin-right: 10px;
}

@media (max-width:899px) {
    .popup {
        padding: 40px;
        overflow: scroll;
    }
    .popup  .btnClose {
        top: 10px;
        right: 10px;
    }
}


/* Selector Gallery */


.galleryTitle {
    margin: 0 0 60px;
}
.galleryImage img {
    display: block;
}
.galleryItem:hover .galleryImage {
    opacity: .2;
}
.galleryItem .btn {
    transition: all .1s ease-out !important;
    transform: scale(.8);
    display: block;
    opacity: 0;
    white-space: nowrap;
}
.galleryImage .selectedBorder {
    opacity: 0;
    border: 5px solid #333;
}
.infoIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    opacity: 0;
    width: 32px;
    height: 32px;
}
.infoIcon md-icon {
    width: 100%;
    height: inherit;
}
.infoIcon md-icon svg g {
    fill: #FFF;
}


/* Gallery item hover */
.galleryItem:hover .btn {
    transform: scale(1,1);
    opacity: 1;
}
.galleryItem:hover .infoIcon {
    opacity: .8;
}
.galleryItem:hover .infoIcon:hover {
    transform: scale(1.25);
    opacity: 1;
}


/* Gallery active item */
.galleryItem.gallerySelected:hover .galleryImage {
    opacity: 1;
}
.gallerySelected .galleryImage .selectedBorder {
    opacity: 1;
}
.gallerySelected .btn {
    display: none;
}
.gallerySelected .btn {
    display: none;
}
.checkIcon.easyTransition {
    transition-delay: .15s;
    -webkit-transition-delay: .15s;
}
.checkIcon {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 20px;
}
.checkIcon md-icon {
    width: 100%;
    height: inherit;
}
.gallerySelected .checkIcon {
    opacity: 1;
}

