/* !importants can be removed when css has the right hierarchy. right now the selector css is outranked by the site.css which is outranked by the common.css */

.lt-header{float:left; width:100%; margin:0 0 20px 0;}
.lt-header h3{font-size:22px; color:#000;}
.lt-header span{ display:inline-block; text-align:center; width:24px; height:24px; border-radius:50%; border:1px solid #aeaeae; line-height:19px; background:#f5f5f5; margin:0 10px 0 0px;}
.lt-header span i{font-size:18px; color:#aeaeae;}
.layout_bx{float:left; width:100%; margin:0 0 50px 0;}
.lt_box{ float: left; margin: 0; padding: 20px 0 0; width: 100%; min-width: 600px; }
.lt-image{ float: left; overflow: hidden; position: relative; width: 13%; min-width: 100px; }

.galleryimg-active:after{content:""; position:absolute; top:100%; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); transition:all ease 0.3s;}
.lt-image:hover:after{top:0;}
.lt-content p{font-size:14px; color:#747474; line-height:22px;}
.blck_btn{min-width:80px; padding:7px 15px; color:#fff !important; background:#000; text-decoration:none; font-size:13px; font-weight:600; z-index:99;}
.lt-image a.blck_btn{width:80px; height:35px; position:absolute; top:0; left:-200%; right:0; margin:auto; bottom:0; transition:all ease 0.3s 0.1s;}
.lt-image:hover a.blck_btn{left:0;}

.bl_btn{min-width:80px; padding:10px 15px; color:#fff !important; background:#4a90e2; text-decoration:none; font-size:13px; font-weight:600; z-index:99;}
.galleryimg-cont .bl_btn{ width:130px; position:absolute; bottom:-50%; left:0; right:0; margin:0 auto; text-align:center;transition:all ease 0.2s .2s;}

ul.lt-pagination{float:right; clear:both; border-top:1px solid #979797; padding:10px 0 0 0;}
ul.lt-pagination li{display:inline-block; margin:0 8px;}
ul.lt-pagination li a{color:#747474; text-decoration:none; font-size:17px; font-weight:600;}
ul.lt-pagination li a.active{color:#000;}
ul.lt-pagination li:first-child{margin-right:20px;}
ul.lt-pagination li:last-child{margin-left:20px;}

@media (min-width: 900px) {
    .media-dialog {
        width: 1000px;
    }
}

.lt-popup {
    max-width: 900px;
    margin: 0 auto;
    padding: 7%;
    background: rgba(255,255,255,.9);
    width: 100%;
}
.lt-popup  .btnClose {
    position:absolute;
    top: 20px;
    right: 20px;
}

.lt-popup hr {
    background: none;
    border-top: 1px solid #777;
}
.lt-popup .smallLabel {
    font-size: 12px;
    margin-bottom: 16px;
}
.lt-popup .btn {
    display: table;
    margin-top: 26px;
}
.btnChoose {
    margin-bottom: 34px !important;
}
.popupQuickInfo {
    margin:  34px 0 40px;
}

.popupDescription {
    margin-bottom: 50px;
}
.popupForm {
    margin-bottom: 8px;
    font-size: 13px;
}
.popupForm input {
    margin-right: 10px;
}
.popupImage {
    padding-right: 7%;
}
.popupImage img {
    display: block;
}

@media (max-width:899px) {
    .lt-popup {
        padding: 40px;
        overflow: scroll;
    }
    .lt-popup  .btnClose {
        top: 10px;
        right: 10px;
    }
    .popupImage {
        padding-right: 0;
        max-width: 400px;
        margin: 0 auto 30px;
    }
}









.search--gallery{width:60%;}


.selectorListImage img {
    display: block;
}
.selectorListItem:hover .selectorListImage {
    opacity: .2;
}
.selectorListItem.select-highlight:hover .selectorListImage {
    opacity: 1;
}
.selectorListItem .btn {
    transition: all .1s ease-out !important;
    transform: scale(.8);
    display: block;
    opacity: 0;
    white-space: nowrap;
}
.selectorListItem:hover .btn {
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    opacity: 1;
}

.selectorListImage .selectedBorder {
    opacity: 0;
    border: 5px solid #333;
}
.select-highlight .selectorListImage .selectedBorder {
    opacity: 1;
}
.select-highlight .btn {
    display: none;
}
.select-highlight .btn {
    display: none;
}
.checkIcon.easyTransition {
    transition-delay: .15s;
    -webkit-transition-delay: .15s;
}
.checkIcon {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 20px;
}
.checkIcon md-icon {
    width: 100%;
    height: inherit;
}
.select-highlight .checkIcon {
    opacity: 1;
}
.infoIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    opacity: 0;
    width: 32px;
    height: 32px;
}
.selectorListItem:hover .infoIcon {
    opacity: .8;
}
.selectorListItem:hover .infoIcon:hover {
    transform: scale(1.25);
    opacity: 1;
}
.infoIcon md-icon {
    width: 100%;
    height: inherit;
}
.infoIcon md-icon svg g {
    fill: #FFF;
}


.cancel--btn { background: rgba(0, 0, 0, 0) url(/assets/1/0/bundles/sitetheorycore/images/media/close_red.png) repeat scroll 0 0 / 34px auto; border: medium none; color: #ff0000; cursor: pointer; font-size: 14px; font-weight: 600; height: 34px; margin: 0 auto; padding: 5px 8px; position: relative; right: 16px; top: -6px; width: 34px; z-index: 99; }
.galleryimg-cont::after { background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; bottom: 0; content: ""; height: 0; left: 0; margin: auto; position: absolute; right: 0; top: 0; transition: all 0.3s ease 0s; width: 0 }
.galleryimg-cont.select-highlight {  max-height: 281px; }
.visual-pag{float: left !important; margin: 0 0 0 60% !important;}

.lt-image::after {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 100%;
    transition: all 0.3s ease 0s;
    width: 100%;
}
@media (max-width: 639px) {
    .cancel--btn { right: -60%; top: 20px; }
    .lt-content{padding: 10px 0 0; text-align: center;}
    .lt-image{ display: block;float: none;text-align: center;width: 100%; }
    .lt-content{ float:left; width:100%; text-align: center; }
    .lt_box{ min-width: 100%; }
}