 <!--
<mat-form-field class="full-width">
    <input matInput [placeholder]="'Add ' + target + ': Not Connected Yet!'" aria-label="Selector AutoComplete" [matAutocomplete]="auto" [formControl]="selectCtrl">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let selectModel of filteredModels | async" [value]="selectModel">
            {{ selectModel.version.title }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
-->

<div class="selected-list">
    <h3 class="selected-list-header border-default border-default-bottom" [textContent]="'Selected ' + target + ' Items'"></h3>
    <p class="note">Drag to reorder</p>
    <div cdkDropList class="list-unstyled" (cdkDropListDropped)="drop($event)">
        <div class="selected-list-row selected-box" *ngFor="let selectedModel of dataSub | async" cdkDrag>
            <div class="custom-ghost-placeholder" *cdkDragPlaceholder></div>
            <div class="selected-list-container" layout="row" layout-align="space-between center">
                <div class="column-image position-anchor" no-flex>
                    <div class="image position-all" no-flex stratus-src
                         [ngStyle]="{'background': 'url(' + findImage(selectedModel) + ') no-repeat center center', 'background-size': 'cover'}"
                    ></div>
                </div>
                <div class="column-title" flex>
                    <h3 [innerHTML]="selectedModel.version.title || (selectedModel.contentType.controller=='Content\\Module' ? selectedModel.version.meta.identifier : 'Untitled ' + selectedModel.contentType.name + ' (' + selectedModel.id + ')')"></h3>
                    <span class="routing" [textContent]="(selectedModel.routing && selectedModel.routing.length) ? ('/' + _.first(selectedModel.routing).url) : 'No Route Present!'"></span>
                </div>
                <div no-flex>
                    <button mat-button
                            [matTooltip]="'Delete ' + target"
                            aria-label="Delete Item"
                            class="btn btn-delete"
                            (click)="remove(selectedModel)">
                        <!--<mat-icon svgIcon="delete" aria-hidden="false" aria-label="Delete Item">Delete</mat-icon>-->
                        <svg viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linear-gradient-icon-delete">
                                    <stop class="stop1" stop-color="#666666" offset="0%"></stop>
                                    <stop class="stop2" stop-color="#666666" offset="100%"></stop>
                                </linearGradient>
                            </defs>
                            <g id="icon-delete" class="action-button" fill="url(#linear-gradient-icon-delete)">
                                <path d="M9.98721875,40 C9.98721875,42.209 11.736676,43.99 13.8951228,43.99 L36.092096,43.99 C38.2564134,43.99 40,42.204 40,40 L40,15 L10,15 L9.98721875,40 Z M16.9936094,21.904 L18.9872188,21.904 L18.9872188,38.0891113 L16.9936094,38.0891113 L16.9936094,21.904 Z M23.9286042,21.904 L25.9872188,21.904 L25.9872188,38.0891113 L23.9286042,38.0891113 L23.9286042,21.904 Z M30.9936094,21.904 L32.9872188,21.904 L32.9872188,38.0891113 L30.9936094,38.0891113 L30.9936094,21.904 Z" id="trash-base"></path>
                                <path d="M29.2875402,7.05695537 L29.2875402,3 L20.7124598,3 L20.7124598,7.05695537 L13.20584,7.05695537 C11.4407276,7.05695537 9.99360938,8.41852994 9.99360938,10.0985149 L9.98721875,13 L40,13 L40.0063906,10.0985149 C40.0063906,8.42223238 38.5680784,7.05695537 36.79416,7.05695537 L29.2875402,7.05695537 Z M22.8562299,5.02801488 L27.1437701,5.02801488 L27.1437701,7.05602976 L22.8562299,7.05602976 L22.8562299,5.02801488 Z" id="trash-lid"></path>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
