<div layout="column" id="excerpt">
  <div flex class="background-picture">
    <img
        src="http://demo.sitetheory.net/assets/1/0/bundles/sitetheorytemplatenott/images/emphasis/general/headerImage-xl.jpg?v1510248010"
        alt="">
  </div>

  <div flex class="layout-content" layout="row" layout-align="space-between">
    <div flex="20" class="levels">
      <li><a href="#">LINK LEVEL TWO</a></li>
      <li><a href="#">LINK LEVEL TWO</a></li>
      <li><a href="#">LINK LEVEL TWO</a></li>
      <li><a href="#">LINK LEVEL TWO</a></li>
    </div>

    <div flex="75" class="details">
      <h1>Francesca Liddy</h1>
      <div class="profile border" layout="row" layout-align="space-around center">
        <div flex="50" class="profile-image">
          <img src="http://cdn.sitetheory.io/nest001/2342/francescaLiddy-xs.jpg?v=1504953515-s.jpg" alt="">
        </div>

        <div flex="50" class="profile-inform border">
          <div class="title">
            <h2>Francesca Liddy</h2>
            <h4>FILM CRITIC</h4>
          </div>
          <div class="contact">
            <a href="#">francesca@sitetheoryrocks.io</a>
            <a href="#">111.222.5555</a>
          </div>

          <div class="social">

          </div>
        </div>
      </div>

      <div class="article" layout="row" layout-align="space-between">
        <div flex="30">
          <p class="profile-extra border">
            Sed venenatis dignissim mauris quis auctor. Aenean sem mauris, hendrerit at magna congue, dapibus commodo
            nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lacus quis nisl imperdiet rutrum
            quis ut nunc.
          </p>

          <p class="address border">
            10009 Profile Street
            New York, NY 00000
          </p>

          <p><a href="#">francescaliddy.sitetheoryrocks.io</a></p>
        </div>

        <div flex="60" class="profile-body">
          <p>
            Sed venenatis dignissim mauris quis auctor. Aenean sem mauris, hendrerit at magna congue, dapibus commodo
            nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lacus quis nisl imperdiet rutrum
            quis ut nunc. Aliquam purus tortor, dictum et iaculis eu, porttitor viverra velit. Ut auctor turpis at diam
            fringilla tempus. Proin vestibulum leo non placerat viverra. Phasellus odio quam, feugiat eget ante quis,
            blandit hendrerit ipsum.

            Integer sit amet quam posuere, aliquam ipsum eu, euismod dolor. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Aliquam ante ante, aliquet et faucibus non, euismod
            vitae dolor. Nam nec ornare odio. Nullam mollis fringilla imperdiet.

            Curabitur rutrum felis risus, interdum porta diamvenenatis dignissim mauris quis auctor. Aenean sem mauris,
            hendrerit at magna congue, dapibus commodo nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed quis lacus quis nisl imperdiet rutrum quis ut nunc. Aliquam purus tortor, dictum et iaculis eu,
            porttitor viverra velit. Ut auctor turpis at diam fringilla tempus. Proin vestibulum leo non placerat
            viverra. Phasellus odio quam, feugiat eget ante quis, blandit hendrerit ipsum. Integer sit amet quam
            posuere, aliquam ipsum eu, euismod dolor. Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas.

            Sed venenatis dignissim mauris quis auctor. Aenean sem mauris, hendrerit at magna congue, dapibus commodo
            nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lacus quis nisl imperdiet rutrum
            quis ut nunc. Aliquam purus tortor, dictum et iaculis eu, porttitor viverra velit. Ut auctor turpis at diam
            fringilla tempus. Proin vestibulum leo non placerat viverra. Phasellus odio quam, feugiat eget ante quis,
            blandit hendrerit ipsum.

            Integer sit amet quam posuere, aliquam ipsum eu, euismod dolor. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Aliquam ante ante, aliquet et faucibus non, euismod
            vitae dolor. Nam nec ornare odio. Nullam mollis fringilla imperdiet.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
