@medium-grey-color: #c5c5c5;
sa-stripe-payment-method-selector,
.sa-stripe-payment-method-selector-select-override {
  [hidden] {
    /* full hide */
    display: none !important;
  }
  /* select-override.mat-select is for controlling select popup options */
  &.mat-select-panel {
    max-height: 50vh;
    .mat-option {
      height: unset;
      padding: 0 3px;
      &.current-selection {
        border-width: 2px;
        border-color: @medium-grey-color;
        border-style: dashed;
      }
      &.remove-selection button {
        /* center the deselect button */
        display: table;
        margin: 3px auto;
      }
    }
  }
  .payment-selected.mat-form-field-appearance-legacy.mat-focused .mat-form-field-underline .mat-form-field-ripple,
  .payment-selected.mat-form-field-appearance-legacy .mat-form-field-underline {
    transition: none;
    background-color: initial;
  }
  .no-results {
    text-align: center;
    padding-bottom: 10px;
  }
  sa-stripe-setup-intent {
    display: table;
    margin: 3px auto;
    button:hover {
      background-color: #f1f1f1;
    }
  }
}
