@white-color: #fff;
@light-blue-color: #f4faff;
@light-grey-color: #f5f5f5;
@medium-grey-color: #d3d3d3;
sa-stripe-payment-method-item {
  mat-card.payment-method-container {
    position: relative;
    margin: 5px 1px;
    background-color: @light-blue-color;
    &.expired {
      background-color: @medium-grey-color;
      &:before {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: 'EXPIRED';
        color: #eeeeee63;
        font-size: 76px;
        text-align: center;
        line-height: 1.8;
        transform: rotate(-13deg);
      }
    }
    mat-card-content {
      animation: background-color 2s ease-out both;
      -webkit-animation: background-color 2s ease-out both;
      white-space: pre;

      /* padding-top: 20px; */
    }
    mat-grid-tile .aligned-tile {
      display: flex;
      width: 100%;
    }
    .expiration.expiring {
      background-color: #ff000061;
      border-radius: 25px;
      padding: 0 3px;
      line-height: 1.5;
    }
    .action-buttons {
      position: absolute;
      animation: opacity 0.3s ease-out both;
      -webkit-animation: opacity 0.3s ease-out both;
      opacity: 0;
      top: 4px;
      z-index: 2;
      &.save-button {
        right: 28px;
      }
      &.delete-button {
        right: 2px;
      }
    }
    &:hover {
      .action-buttons.delete-button {
        opacity: 1;
      }
    }
  }
}
