stratus-stripe-payment-method input,
stratus-stripe-payment-method .billing-info .input,
stratus-stripe-payment-method .StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
stratus-stripe-payment-method input:focus,
stratus-stripe-payment-method .StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}
stratus-stripe-payment-method .StripeElement--invalid {
  border-color: #fa755a;
}
stratus-stripe-payment-method .StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
stratus-stripe-payment-method .card-errors {
  color: darkred;
}
stratus-stripe-payment-method .no-pointer-event {
  pointer-events: none;
}
