sa-stripe-payment-method-selector,
.sa-stripe-payment-method-selector-select-override {
  /* select-override.mat-select is for controlling select popup options */
  &.mat-select-panel {
    max-height: 50vh;
    .mat-option {
      height: unset;
      padding: 0 3px;
    }
  }
  .no-results {
    text-align: center;
    padding-bottom: 10px;
  }
}
