
/* Styles for Both Media Selector and Media Selected Areas */

.admin-media-select-content,
.autocomplete-option,
.sa-media-selector,
.cdk-drag-preview {
  .content-type {
    margin-bottom: 2px;
    md-icon,
    mat-icon {
      margin-right: 4px;
      height: 14px;
      width: 14px;
      min-height: 14px;
      min-width: 14px;
    }
    .content-type-name {
      font-weight: bold;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .no-image-icon {
    md-icon,
    mat-icon {
      height: 28px;
      width: 28px;
      min-height: 28px;
      min-width: 28px;
      svg g {
        fill: #FFF;
      }
    }
  }
  .shapeholder {
    width: 100%;
    display: block;
  }
}
.content-media-selector-autocomplete,
.admin-media-select-content,
.cdk-drag-preview {
  .column-title h3 {
    margin: 0 0 5px;
    font-size: 16px;
  }
}

/* Draggable Media Selected List */

.media-selector-wrapper {
  background: rgba(255,255,255,.4);
  margin-top: 20px;
  padding: 40px;
}

/* Based on Angular Material 8+ */

.media-selector {
  .media-selected {
    // Note: an ampersand appears twice in this selector
    &-list.cdk-drop-list-dragging &-box:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }
  ul.media-selected {
    &-list {
      width: 1000px;
      max-width: 100%;
      //border: solid 1px #ccc;
      min-height: 60px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      //background: white;
      //border-radius: 4px;
      //overflow: hidden;
    }
  }
  li.media-selected {
    &-box {
      padding: 20px 10px;
      //border-right: solid 1px #ccc;
      color: rgba(0, 0, 0, 0.87);
      // FIXME: when this uses display:flex, the box collapses
      //display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      //box-sizing: border-box;
      cursor: move;
      //background: white;
      font-size: 14px;
      flex-grow: 1;
      flex-basis: 0;
    }
    &-box:last-child {
      //border: none;
    }
  }
}
.cdk-drag {
  &-preview {
    //box-sizing: border-box;
    //border-radius: 4px;
    //box-shadow: 2px 2px 4px rgba(0,0,0,.3)
    //box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    //0 8px 10px 1px rgba(0, 0, 0, 0.14),
    //0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  &-placeholder {
    opacity: 0.7;
    //opacity: 0;
  }
  &-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  &-dragging {
    .info-hover-container {
      display: none !important;
    }
  }
}
.custom-ghost-placeholder {
  background: rgba(0,0,0,.4);
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


/* Selected List Custom */

sa-media-selector,
.cdk-drag-preview {
  .column-image,
  .column-title,
  .column-action {
    float: left;
  }
}

/* Full Size */

.full {
  &-width {
    width: 100%;
  }
  &-height {
    height: 100%;
  }
}

/* Text Transforms */
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
