/*
Nothing should be outside 'stratus-idx-disclaimer' or it will leak into other modules
z-index can cause a bleeding effect on popups (z-index 100 equates to the top most item for angular, use the lowest number possible and work up)
*/
stratus-idx-disclaimer {
  /* Padding and margin should not directly be added in this location as only .disclaimer-outer-container gets hidden when needed */
  display: block;
  clear: both;
  &.border-top .disclaimer-outer-container {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
  }
  .disclaimer-outer-container {
    font-size: 12px;
    .disclaimer-container {
      /* Individual MLS' will each have a separate .disclaimer-container */
      margin-bottom: 35px;
    }
    .mls-logos-section {
      display: inline-block;
      margin: 0;
      .mls-logos-container {
        /* Individual MLS' will each have a separate .mls-logo-container */
        display: block;
        float: left;
        .mls-service-logo {
          /* An Individual MLS' may each have a multiple .mls-service-logos */
          display: block;
          float: left;
          max-width: 80px;
          max-height: 75px;
          margin-right: 10px;
        }
      }
    }
  }
}

